[2015-04-22 04:39] dcousens opened #1 "Split out LESS into a core package"

[2015-04-24 03:14] jossmac opened #2 "Consider primer for the base UI kit"
http://primercss.io

[2015-04-28 01:15] morenoh149 opened #3 "Feature Request: Sortable list"
Nice project.

I haven't been able to run the demo so I'm not sure if it's already implemented but over at https://github.com/keystonejs/keystone/issues/1289 we'll need a sortable list of sorts. There is a proposed mockup for inspiration. Ping @pr1ntr cheers.

[2015-04-29 14:26] JedWatson commented on #2
@jossmac I think we can close this now. For anyone watching, we looked into this pretty heavily, and borrowed a few ideas :)

[2015-04-29 14:26] #2 closed

[2015-05-01 13:11] JedWatson commented on #3
I can confirm we'll be adding a sortable list component for Elemental.

[2015-05-02 21:27] #3 closed

[2015-05-04 08:09] theolampert opened #5 "Browser support"
Looks like a really nice project, I'm wondering what the intended browser support is?.

[2015-05-07 16:30] luisrudge commented on #5
It all works in windows phone 8.1. I'm impressed. Awesome work guys :)

[2015-05-07 19:22] luisrudge opened #6 "arrows don't work in the datepicker"
![elemental](https://cloud.githubusercontent.com/assets/941075/7523893/d0737280-f4d4-11e4-8d37-b3c08adfa0a6.gif)

[2015-05-08 00:26] winkler1 opened #7 "typos"
On http://elemental-ui.com/--

Tooklit
includig
devolpment

[2015-05-08 11:36] #7 closed

[2015-05-08 11:37] JedWatson commented on #7
Thanks for that @winkler1 - too busy looking at the pixels we missed the words :)

[2015-05-16 03:48] jossmac commented on #6
Hi @luisrudge,

Thank you for taking the time to create this issue. We've since moved the date picker to its own repo where it is under development http://jedwatson.github.io/react-date-select

[2015-05-16 03:48] #6 closed

[2015-05-16 03:57] jossmac commented on #5
Hi @theolampert, great question!

We'd like Elemental to be viable (functionally and aesthetically) to as many browsers as possible, without hindering our ability to move quickly.

For now that means:
- Chrome (mobile and desktop)
- Safari (mobile and desktop)
- Firefox
- Internet Explorer 9 and up

[2015-05-16 03:58] jossmac opened #8 "Create breadcrumbs component"

[2015-05-16 03:59] jossmac opened #9 "Create pagination component"

[2015-05-18 11:36] theolampert commented on #5
@jossmac thats great news, thanks for the feedback.

[2015-05-19 10:25] jossmac opened #10 "Dropdown menu scroll behaviour"
At the moment when you get reach the scroll threshold (top/bottom) you begin to scroll the body, or the nearest scrollable parent. It'd be nice to trap the scroll inside the dropdown menu.

Perhaps something like http://codepen.io/somethingkindawierd/blog/react-mixin-scroll-lock

[2015-05-19 14:16] grabbou commented on #9
I would just go with a `ButtonGroup` or `Toolbar` component (similar to Bootstrap one) so it can actually be used elsewhere pretty easily.

[2015-05-19 23:41] jossmac commented on #9
Hi @grabbou,

We have a ButtonGroup, but it's more for grouping similar tools. This component will provide support for pagination and will very much be modelled on the bootstrap pagination http://getbootstrap.com/components/#pagination.

It will accept the object that express pagination returns:
[code]

[2015-05-20 02:18] jossmac commented on #9
Implemented by 2aed2fa

[2015-05-20 02:18] #9 closed

[2015-05-20 14:56] dcousens commented on #1
@jossmac could this be done in such a way that theming is easily possible for an end user?

[2015-05-20 21:59] jossmac commented on #1
Could you expand on this a bit?

[2015-05-21 21:00] samzhao opened #11 "`data-uri` causes build system (webpack) to fail"
First of all, I regret not discovering this amazingly well-written library/toolkit earlier, so thanks for putting this together :) And I wouldn't mind writing documentations for it in my spare time.

I had a problem with `data-uri` with webpack style loaders where the path fails to resolve. Also, I read somewhere that data uris actually load slower than directly referencing the asset paths. Theref

[2015-05-26 08:10] jossmac commented on #8
Breadcrumb patterns are too unpredictable to tackle this in a generic way

[2015-05-26 08:10] #8 closed

[2015-05-26 08:13] JedWatson commented on #11
@samzhao thanks! would be great to have you help write documentation, I'll set up gitter shortly for Elemental so we can chat about it. @jossmac has been making the examples but we need to add code snippets for them, and document the various options that are supported.

We're using `data-uri` to get around needing to ship public assets, which are difficult to wrap up in a way that works across all

[2015-05-26 08:14] JedWatson commented on #10
I'm not totally convinced it should behave like that... seems like a bad idea to block page scrolling over a menu to me. Let's experiment with it and see how it feels.

[2015-05-26 18:34] ppiekarczyk opened #13 "Website Example: Dropdown Broken"
http://elemental-ui.com/forms

Under `Validation`, selecting an item in the dropdown will not change the state of the dropdown, but a validation error will appear.

[2015-05-27 13:57] AlexKVal commented on #13
Should this issue be closed now ?

[2015-05-27 15:00] ppiekarczyk commented on #13
Still doesn't work under `Validation`

[2015-05-27 19:55] AlexKVal commented on #13
It seems the site hasn't been updated yet because there was no any release.

[2015-05-27 23:37] jossmac commented on #13
Will publish a new version to npm and update the website today when I have a chance

[2015-05-30 20:42] samzhao commented on #11
@JedWatson The project I'm currently working on is unfortunately not open source, but here is a slightly simplified version of it: https://github.com/samzhao/elemental-webpack.

Let me know when you have gitter setup and maybe put together a documentation format to follow :)

[2015-05-30 20:55] samzhao commented on #11
When you clone the project and run it locally by doing `npm start`, you should see something like this:

![screen shot 2015-05-30 at 1 51 47 pm](https://cloud.githubusercontent.com/assets/1125203/7899320/87a71230-06d3-11e5-8399-2296dc916a6f.png)

[2015-06-01 02:19] JedWatson commented on #13
Released on the weekend, I've verified it's fixed. Thanks!

[2015-06-01 02:19] #13 closed

[2015-06-01 02:22] JedWatson commented on #11
Thanks @samzhao, I'll clone that and take a look.

@petehunt @mjackson @zackify @nmn this issue is pretty relevant to the conversation we were just having on the podcast :) would love pointers if you have them.

[2015-06-02 17:55] Elesant opened #17 "Difference between /lib and /src"
Hey sorry guys, this might be a dumb question, but what is the difference between the code in /lib and the /src folder? Thanks! :)

[2015-06-03 00:39] jossmac opened #19 "Put together a contribute.md file"
This seems like a helpful resource http://contribute.md

[2015-06-03 14:13] JedWatson commented on #17
The `/src` is the actual source, `/lib` is the _transpiled_ version generated by Babel that gets used when you `require('elemental')` in your project. We should (probably) exclude `lib` from the git repo to reduce confusion, need to lock down our build & release process first though.

We'll explain this with a contributing file shortly (#14) but in the meantime if you contribute, please make sure

[2015-06-03 14:13] #17 closed

[2015-06-03 14:16] JedWatson opened #20 "Get rid of the lib folder except for npm"
To reduce confusion, we should probably not include the build folder `/lib` in the Git repo (#17)

Before we do, we need to make sure the release process _absolutely always_ generates `lib` from the latest `src` so we don't accidentally push out a dev (or worse, missing) build folder. At the moment, the git workflow makes it pretty obvious so that hasn't been a problem,

We'll also want to explain

[2015-06-03 14:16] JedWatson commented on #5
We should add this to the Readme & close this issue

[2015-06-03 23:36] jossmac commented on #5
Updated the Readme in b05c8bd

[2015-06-03 23:36] #5 closed

[2015-06-07 09:19] nconroy opened #21 "Date Picker broken in demo"
The arrow buttons do nothing for me on http://elemental-ui.com/date-picker
Also in the last picker selecting one of the preset ranges(e.g. Past Week) does nothing.

I am using Chrome

[2015-06-07 13:10] JedWatson commented on #21
Hi @nconroy, that component is the last one we've got to get finished before Elemental is ready for use... sorry if it wasn't clear that it isn't complete yet! Hoping to release this week coming.

[2015-06-07 13:10] #21 closed

[2015-06-10 00:08] nkbt opened #22 "Select input styling is broken in Firefox"
Latest stable Firefox 38.0.5

![20150610-095703](https://cloud.githubusercontent.com/assets/175264/8072388/97d61b96-0f58-11e5-8bb2-23df00f7e4a9.png)

[2015-06-10 00:16] nkbt opened #24 "Modal box is opened out of screen"
![date-ranges](https://cloud.githubusercontent.com/assets/175264/8072475/8eecb1a6-0f59-11e5-86da-435ab11b7541.gif)

[2015-06-10 02:07] JedWatson commented on #22
Fixed by #23

[2015-06-10 02:07] #22 closed

[2015-06-10 02:08] JedWatson commented on #24
We'll need to detect the current scroll position & viewport size and manually control the position of the modal based on that. Interested in making a PR @nkbt?

[2015-06-10 03:48] nkbt commented on #24
@JedWatson yeah, will do that, np

[2015-06-10 11:36] nkbt commented on #24
Found that modal box on Datepicker page is a different one. But `elemental` still had the issue

[2015-06-10 11:45] nkbt opened #26 "Do we need Modal to follow scroll?"
I reckon we could add an option for Modal to follow scroll. To some extend, of course, so it is possible to scroll if Modal is very long. So if I scroll up after showing modal, it should smoothly follow still having `100px` top margin. If I scroll down - it will follow only if bottom margin is `>=100px`.

If modal is longer then screen, it should follow up, but then will follow down only after bot

[2015-06-11 00:05] jossmac commented on #24
This can be solved with CSS only, hold on a sec. Will submit a fix

[2015-06-11 00:10] #24 closed

[2015-06-11 00:23] nkbt commented on #24
@jossmac please, don't solve it css-only. It is a common mistake heaps of people do, which gives enormous pain for end-users.

[2015-06-11 00:58] jossmac commented on #24
Okay, would you mind explaining some of the benefits of using JS over CSS for this problem?

[2015-06-11 01:13] nkbt commented on #24
From https://github.com/elementalui/elemental/commit/cb8ed70bd3454a4a7de9d1fae904d5a47397ba5d#commitcomment-11624057

It is especially painful when you use your phone. Site usually becomes 100% unusable. Could be changed with media queries though, but still the issue will exist and you won't be able to predict all possible screen sizes (compared to content size).

This is why safer approach is not

[2015-06-11 03:49] jossmac commented on #24
Granted I missed it on the first pass - but you can fix this easily by applying an `overflow:auto` to the wrapper, in our case `.Modal`

If that is our only concern I'm not sure we should handle this with JS. It's not so much the initial positioning that concerns me but the constant _repositioning_ even if we debounce.

[2015-06-11 04:07] nkbt commented on #24
`overflow:auto` does not give the best experience since you will have scrollbar inside the modal and not the normal usual scrollbar. With all minor experience flaws that multiple scrollbars give you. It is a quick patchy solution that works though.

Repositioning is actually pretty okay if done well. It should support normal scrolling with minimum disruptions. It is quite optional. I can quickly d

[2015-06-11 05:17] jossmac commented on #24
That'd be terrific, thanks @nkbt

[2015-06-12 03:18] soupaJ commented on #11
FYI, this sounds related to the issue @sokra mentioned here https://github.com/webpack/less-loader/issues/43#issuecomment-96580193

[2015-06-15 18:11] samzhao opened #27 "Modal CSS transitions lag caused by React's CSSTransitionGroup"
If you open and close the modal a couple times within 5 seconds, you'll see a warning like this:

[code]

Although it's "only a warning", and everything is still functional as expected, but it causes the transition to lag a bit.

This is a bug that needs to be fixed by the React team, but in the mean time could we use Khan Academy's [TimeoutTransitionGroup](https://github.com/Khan/react-components

[2015-06-16 00:05] jossmac commented on #27
@dcousens would you mind looking into this?

[2015-07-03 10:01] lautjy opened #28 "Had to copy "spinner.less" to "Spinner.less" on Debian"
Got this error on Debian Jessie when using *elemental*:

    Error: './components/Spinner.less' wasn't found

Fixed it with this:

    cp node_modules/elemental/less/components/spinner.less node_modules/elemental/less/components/Spinner.less

Perhaps change of filename, or change code to use the lowercase name?

[2015-07-07 03:05] jossmac commented on #26
Any word on this @nkbt?

[2015-07-07 04:16] nkbt commented on #26
Ouch!

Sorry, I completely missed this one. Could you please assign the issue to
me, so I won't lose it again?

Thanks.

[2015-07-10 13:51] ivan-kleshnin commented on #11
Can we just replace this `data-uri` with `url` and put a comment to come back to this later when LESS loader will be fixed?!

[2015-07-13 00:20] jossmac commented on #28
Resolved by 7255a9f

[2015-07-13 00:20] #28 closed

[2015-07-13 00:21] jossmac commented on #27
We've made significant updates since this was logged and I can't reproduce. @samzhao would you mind getting latest and letting us know if you're still seeing this issue?

[2015-07-13 00:24] jossmac commented on #26
@nkbt no worries! Thank you for your contributions so far

Just need you to accept your invite to the "collaborators" team so I can assign this is issue to you

[2015-07-13 01:57] nkbt commented on #26
Cool, thanks

[2015-07-16 07:45] TCMiranda opened #30 "Problems at elemental installation"
Guys, why is it so difficult to install your package?

First, I had to include the elemental.less in my main, because the components doesn't style itself.
Then I had to require react-date-select, because you hadn't installed
Now, i am at:
"Module build failed: error evaluating function `data-uri`: Cannot 'resolveSync' because the fileSystem is not sync. Use 'resolve'!"

Using webpack, with less-lo

[2015-07-16 12:43] nkbt commented on #30
Hi, @TCMiranda you basically just named our major concerns about assets. We have just discussed those yesterday and hopefully they will be resolved soon.
Including styles in the component itself has some implications. There is an issue opened asking for the opposite thing #1 =)

[2015-07-16 16:19] TCMiranda commented on #30
Hi @nkbt

Thanks very much, I can see, so, my opinion

I think that it is great to offer the styles when you are building some ui package, really makes sense, but the components are raw without requiring css

As in ReactJS [Why React](https://facebook.github.io/react/docs/why-react.html)

React is all about building reusable components. In fact, with React the only thing you do is build components

[2015-07-17 00:47] jossmac commented on #30
Just an update on this, it's looking like we'll go with http://projects.formidablelabs.com/radium

[2015-07-17 00:57] nkbt commented on #30
Going with pure JS styles solution has noticeable downsides. As well as going old good css way. So far the best what worked out is a combination of https://github.com/css-modules/css-modules for purely visual styling and plain js styles for state-related styling.

But the problem we have here is packaging. We cannot rely on all consumers using Webpack. There are heaps of folks using bower, browser

[2015-07-19 20:20] LorbusChris commented on #30
Have you heard about the myth css preprocessor? www.myth.io
Whats your opinion on that?
Its supposed to work like a CSS polyfill, and it uses the W3C proposed syntax for future versions of CSS.

[2015-07-20 02:46] #11 closed

[2015-07-28 05:49] ericclemmons commented on #11
This is missing a tagged release to work correctly with Webpack :) (`v2.0.0` is the latest)

[2015-07-28 13:44] JedWatson commented on #11
@ericclemmons sorry about that, I've just pushed a new release (`v0.2.1`) with @jossmac's fix in it!

[2015-07-28 14:22] ericclemmons commented on #11
:steam_locomotive: WoOt WoOt! :steam_locomotive:

[2015-07-29 08:12] JedWatson commented on #26
ping @nkbt

[2015-07-29 08:12] JedWatson commented on #27
Closing, we can't reproduce. @samzhao please let us know if this is still an issue.

[2015-07-29 08:12] #27 closed

[2015-07-29 21:21] nkbt commented on #26
@JedWatson ouch, time flies... Will get back to this asap!

[2015-07-30 12:53] nkbt commented on #26
Added PR #31

[2015-07-30 13:07] #26 closed

[2015-07-30 13:22] nkbt commented on #20
if you add `prepublish: 'npm run build'` it will do everything properly. So it is completely safe to exclude `lib` from git. Also it is good to add `.npmignore` and do not ship sources/test/etc.

[2015-08-02 19:09] samzhao commented on #11
Fix confirmed. Thanks @JedWatson and @jossmac!

[2015-08-02 19:20] samzhao commented on #27
Hey @jossmac and @JedWatson, sorry for the late response. I just tested it again with the latest version, and it works perfectly now - thanks!

[2015-08-06 12:29] #20 closed

[2015-08-12 13:18] LorbusChris commented on #30
@jossmac could you clarify, please. are you going with radium or sticking with less? I'd personally favor radium now, but if you stick with less I will do the same. Thanks =)

[2015-08-12 13:35] LorbusChris commented on #10
How about scrolling the part over which mouse is hovering? When over a dropdown, scroll dropdown, when over scrollable parent (like app body), scroll parent.

[2015-08-12 21:23] nkbt commented on #30
With this tool it is possible to use css modules.
https://www.npmjs.com/package/css-modules-require-hook

[2015-08-12 23:21] jossmac commented on #30
@LorbusChris we'll likely transition the components to Radium when there's time, and like @TCMiranda mentioned leave CSS to do the things it's good at like resets, grids, etc.

The thing is we also maintain [KeystoneJS](https://github.com/keystonejs) and [TouchstoneJS](https://github.com/touchstonejs), not to mention the full-time commercial business [Thinkmill](http://thinkmill.com.au).

So if yo

[2015-08-12 23:21] #30 closed

[2015-08-12 23:22] LorbusChris commented on #30
sure thing! Thank you @nkbt @jossmac

[2015-08-12 23:23] jossmac commented on #1
Ref #30 for discussion related to styles in components

[2015-08-24 10:38] MadRabbit opened #35 "Select box caret icon misplaced"
Hey guys, thought you might wanna know. When validation on a select input fails, the caret icon shifts down (see the image)

![screen shot 2015-08-24 at 8 36 26 pm](https://cloud.githubusercontent.com/assets/14523/9438280/fb5fe8fe-4a9f-11e5-88cb-1ca49c8f94ca.png)

Cheers!

[2015-08-24 10:38] JedWatson opened #36 "Routing doesn't work properly on elemental-ui.com"
Refreshing a url, e.g. http://elemental-ui.com/css on the live domain doesn't load the route correctly. It works in dev, so I'm not sure what's wrong. Needs investigation.

[2015-08-24 15:00] elijahdorman opened #37 "Demo modal scrolls to the top"
In general (especially in longer pages), users don't want to be shoved to the top of the page when they open a modal.

[2015-08-24 19:20] FullR opened #38 "Invariant Violation: addComponentAsRefTo(...) when mounting/unmounting FormInput"
This issue appears to be caused by multiple versions of React being loaded at the same time. I was able to resolve the issue by replacing `import React from "react"` with `import React from "elemental/node_modules/react/addons"` in my top level component, but this does not seem ideal.

Versions:
node 0.12.7
react 0.13.3
elemental 0.3.4

The full error message:
[code]

Here is my render function (c

[2015-08-24 19:31] hammeiam commented on #37
+1

[2015-08-24 21:35] nkbt commented on #38
Please install your own react dependency and use `import React from
'react'`. That should fix the issue

[2015-08-24 21:56] FullR commented on #38
@nkbt I removed react from my package.json, deleted it from node_modules and reinstalled it using `npm install --save react`, and replaced my import with `import React from "react"`, but I'm still receiving this error.

[2015-08-25 01:19] jossmac commented on #35
Thanks for the heads up @MadRabbit

[2015-08-25 01:43] jossmac commented on #38
Glad it's working now @FullR

Thanks for looking into this @nkbt

[2015-08-25 01:43] #38 closed

[2015-08-25 01:52] JedWatson commented on #36
I've asked @LennyBoyatzis to take a look at this, suspect it's some setting on `gh-pages` that allows the `index.html` page to handle any route.

[2015-08-25 22:33] brunowego opened #39 "Bower support"
Bower is popular and easy to use. To install elemental using bower try: bower install elementalui

[2015-08-25 22:39] brunowego opened #41 "SASS support"
I wish contribute for a SASS version, have any plan for this or I can create a fork with this feature?

[2015-08-26 09:24] nkbt commented on #39
I'll get this done, @brunowego

[2015-08-26 09:53] nkbt commented on #39
@JedWatson could you please create a repo `elemental-dist` in the `elementalui` org? I don't have enough permissions to do that.

Here is a slightly modified script to automate bower publishing. There must be a bower.json in that repo (I'll create one).
[code]

[2015-08-26 10:01] nkbt commented on #39
As soon as I test this script manually, I'll add it to npm scripts.

[2015-08-26 14:03] JedWatson commented on #39
@nkbt I've created the repo and made you an admin, go for it :+1:

[2015-08-26 14:13] nkbt commented on #39
Thanks :+1:

[2015-08-26 16:07] #37 closed

[2015-08-26 16:08] nkbt commented on #37
Seems like merged PR should fix it. Feel free to reopen if any issues left.

[2015-08-27 02:47] jossmac commented on #41
@brunowego thanks for the offer!

We've actually had a great deal of trouble with styling components in Elemental and our other React.js projects with CSS (or pre-processor of choice). It's likely that we'll reimplement them using [Radium](http://projects.formidablelabs.com/radium). Is that something you'd be interested in?

[2015-08-27 04:20] nkbt commented on #41
I would not bet on Radium, based on my gut feeling around css-modules, experience with js-only-styles and some other ideas around.
But you don't have to believe me of course just "because" and try it by yourself for at least 2-3 months on a scale.

[2015-08-28 13:47] JedWatson commented on #39
@nkbt I've just released a new version, could you update the publish npm script (or add a publish:bower version) that automates this?

[2015-08-28 14:59] nkbt commented on #39
@JedWatson I'd wait a little bit more on this.

1. I wrote an email to the holder of `elemental` package (repo is deleted already, so name is virtually unused) and waiting for his response.

2. There is some awkward issue with `elementalui` It is not on bower.io, but `bower info elementalui` gives info about this repo. I unregistered it successfully and then registered to the `elemental-dist` repo

[2015-08-29 15:00] brunowego commented on #41
Nice to have an entire workflow based on a single technology. Based on this I will close this discussion.

[2015-08-29 15:00] #41 closed

[2015-08-31 07:36] xiongjiabin opened #43 "missing common.js & bundle.js"
When I visit src/site or src/dist/ , missing common.js and bundle.js,
I have no idea how to generate two files, I tried gulp build in the root of elemental.
Could you help out?

[2015-08-31 08:01] nkbt commented on #43
Have you tried `npm run build`?

[2015-08-31 08:26] xiongjiabin commented on #43
when run "npm run build" , has below errors :
Browserify Error { [Error: Cannot find module 'blacklist' from '/home/tuanbowang/xueche/static/react/elemental']

[2015-08-31 08:30] nkbt commented on #43
Have you run `npm install` before that? If yes, cleanup node_modules and
run again

[2015-08-31 08:35] xiongjiabin commented on #43
done! Thanks!

[2015-08-31 08:35] #43 closed

[2015-09-02 11:16] medv opened #45 "touch capable range slider"
Is something like this on the cards? http://refreshless.com/nouislider/

I'll have the need for it within a month, so if it's not making it into impending keystone0.4-related changes, let me know and I'll have a crack at it.

[2015-09-02 22:09] rstormsf commented on #10
How about provide it as an optional boolean value?

[2015-09-02 22:11] rstormsf opened #46 "Very slow performance on validation forms"
http://elemental-ui.com/forms
try to type something in password/email
then just try to type in non-validated fields

Why is it ssooooo slow?

[2015-09-02 23:36] jossmac commented on #45
Hi @medv!

That's a _little_ too specific for Elemental, but would be great as a standalone package, something like "react-range-slider". Which you could then use in Keystone as your own `fieldType`, or better yet submit it via PR for inclusion as a default field :)

[2015-09-02 23:38] #45 closed

[2015-09-02 23:44] jossmac commented on #46
@rstormsf thanks for the heads up!

@JedWatson I suspect React is trying to re-render the entire form for each keypress. Also, we should really finish validation in form components

[2015-09-03 00:47] rstormsf commented on #46
https://github.com/christianalfoni/formsy-react could help

[2015-09-03 20:34] alancastro opened #47 "Server side rendering support"
Will it support server side rendering ?

[2015-09-04 17:44] mattapperson opened #48 "Grid fixed width"
Sometimes ya just need a fixed width item in your grid (for a sidebar for example.

Thoughts on supporting this in the grid system and reflowing the width of non-fixed siblings?

[2015-09-04 17:45] mattapperson commented on #48
NVM this does work its just not documented. I will close this and submit a PR for the docs.

[2015-09-04 17:45] #48 closed

[2015-09-05 02:46] jossmac commented on #48
Hi @mattapperson, I'm not really sure what you mean. Would you mind trying to explain it? Perhaps with screenshots

[2015-09-06 13:53] Amomo opened #49 "add a dist folder in repository"
Hello, I would like to add elemental to [cndjs](https://github.com/cdnjs/cdnjs) [(website)](https://cdnjs.com/) .

cdnjs has an auto-update mechanism to update libraries by git tags.
It need to know a common path to add distributed files, it couldn't build the library.
So, I hope there have a `dist` folder to contain "elemental.css".

Would you please consider on adding a `dist` folder to collect

[2015-09-06 14:46] nkbt commented on #49
There is a repo elemental-dist which has precompiled sources. Dist was
removed from this one.

Feel free to pr to that one! Thanks

[2015-09-07 04:28] Amomo commented on #49
Oh, I find it! Thanks for your response. :-D

[2015-09-07 04:28] #49 closed

[2015-09-11 12:35] kof opened #53 "Better css in js"
I think this project would benefit from styles written in js. I particular I am an author of [jss](https://github.com/jsstyles/jss) and this is a shameless self promotion) There is also integration for [react](https://github.com/jsstyles/react-jss). It is used in production and I think its a more performant and feature reach solution for static styles than inline.

[2015-09-11 12:41] kof opened #54 "Themes support"
I think this is a nice approach https://github.com/markdalgleish/react-themeable

[2015-09-14 23:02] jossmac commented on #53
Hi @kof,

We've been thinking the same thing. If you wouldn't mind, what are the benefits of JSS over something like Radium?

Also, would you consider submitting a PR with a reformatted component? I think one of the main obstacles is where/how to begin and knowing what sort of timeline to expect once we do

[2015-09-15 08:10] kof commented on #53
Stylesheets are generated just once. Style element just gets detached when its not used by any component. Inline styles should be used for dynamic things. This way performance is easier to ensure.

[2015-09-15 08:10] kof commented on #53
And yes I am happy to help with any questions and integrations, also I can take one component and make an example on it.

[2015-09-15 08:12] kof commented on #53
I think its very strict forward. CSS Ruls remain the same, its just a matter of format and using those.

[2015-09-16 00:40] dmsnell opened #57 "FormSelect doesn't allow setting value"
I've been trying to programmatically set the value for the `<FormSelect />` component but have been having trouble doing so.

My first instinct is to the the `value` prop:

[code]

Unfortunately this doesn't seem to do anything. I noticed in the source that `value` is blacklisted from the props for handing down to the `select` element. If I remove this from the blacklist, the value of the `select`

[2015-09-16 00:52] #57 closed

[2015-09-16 00:53] jossmac commented on #57
Thanks for the heads up @dmsnell, I'll try to get a patch out today

[2015-09-16 01:01] dmsnell commented on #57
thanks @jossmac !

[2015-09-16 01:38] JedWatson commented on #57
I just released `v0.4.5` with this parch in it

[2015-09-16 01:42] jossmac commented on #57
Cheers @JedWatson

[2015-09-16 13:01] LorbusChris commented on #19
Ctrl-C, Ctrl-V :smile:
[Anything missing in here?](https://github.com/LorbusChris/contribute-md-template/blob/master/contribute.md)

[2015-09-16 22:20] nkbt commented on #19
Oh, we have gitter, nice

[2015-09-18 08:25] Guria commented on #53
@kof is there a use reference counter?

[2015-09-18 08:26] kof commented on #53
yes react-jss is all about counting references and detaching/attaching styles.

[2015-09-18 08:39] Guria opened #59 "Input group size small"
[code]

![](http://storage8.static.itmages.com/i/15/0918/h_1442565539_1381285_08f9bb8b05.png)

[2015-09-18 10:53] jossmac commented on #59
@Guria thanks for the heads up

[2015-09-18 21:11] MunGell opened #60 "Pill does not show clear button after refactoring"
Hi guys,

Looks like Pills will show clear button on them only when `onClear` function defined. Previously it was dependent on `showClearButton` flag.

So, as this flag is not used anywhere else, should we just remove it and update documentation or was it unintentional change in 9f0062b7053947257eb66e89ba57f2751fe42c56?

Thanks

[2015-09-18 23:16] jossmac commented on #60
Resolved by 9c6ff58

[2015-09-18 23:16] #60 closed

[2015-09-19 03:53] MunGell commented on #60
Thanks!

[2015-09-21 18:29] LorbusChris opened #62 "Use FormatJS react-intl v2 for numbers, dates, and string messages, international./local."
It also does internationalisation/localisation using ICU message syntax
Probably wait for a stable release of v2, though. If nobody else does it earlier, I'll have a go at this next month. What do you think about this approach @jossmac @JedWatson? Would you rather have this in Elemental or would it fit in better with Keystone **C**MS directly, as the translation may be viewed as content by itself

[2015-09-22 00:14] LorbusChris commented on #1
Continuing the inline styles discussion:
Maybe JSS is worth being looked at for having (namespaced) rules, that might also be used to do the theming @dcousens mentioned. In that case deprecating LESS, though.

[2015-09-22 00:31] LorbusChris commented on #1
didn't see #53 react-jss @kof cool!

[2015-09-23 07:42] khacluan opened #66 "How can I use these components with gem react-rails"

[2015-09-23 23:44] JedWatson commented on #66
@khacluan can you provide a bit more information? @jossmac and I don't have any experience with rails, but @zackify might be able to point you in the right direction...

[2015-09-23 23:46] zackify commented on #66
The same way you would import any other module from npm into your project. Not sure what problem you're having?

[2015-09-24 00:36] zackify commented on #53
I agree, in my components I include default inline styles and then if you specify a class name, you can overwrite the styles completely if you wish. I think that could work good for this too, although most people won't want to change the styles much on this stuff

[2015-09-24 00:37] jossmac commented on #53
Aw shucks, thanks @zackify haha

[2015-09-24 01:16] jossmac commented on #53
Okay, let's move forward with this. It's time to get away from LESS :)

@kof if the offer is still on the table, could you please submit a PR for a converted Button component?

[2015-09-24 08:15] kof commented on #53
@jossmac yes!

[2015-09-24 08:16] kof commented on #53
will do it in the next days

[2015-09-24 08:44] jossmac commented on #53
That's fantastic! Thank you @kof - both @JedWatson and I really appreciate it

[2015-09-24 15:21] khacluan commented on #66
@JedWatson @zackify Thanks for reply

[code]
I solved my problem

I converted to JSX file in (```app/assets/javascripts/components/Button.js.jsx```)
[code]

And it works fine :)

[2015-09-24 15:21] #66 closed

[2015-09-25 12:39] Filsh commented on #54
My solution https://github.com/Filsh/elemental-themeable/commit/79b2e3bc6f025558d528cd1a4f2c2ceaa26b4672

An example of usage
[code]

[2015-09-28 01:23] nkbt commented on #39
Very sorry so much time passed :(. Little update: I'm pretty close.

I wrote some shell scripts and tested on multiple projects - all seems working fine. My next task is to port them to JS, so bower publishing is windows-compatible + more testing. That should not take much time. It is going to be a fairly simple CLI tool. If you are interested, see work in progress/join https://github.com/bower-re

[2015-09-28 03:36] JedWatson commented on #53
@kof very impressed, thanks a lot for getting involved. Joss and I are sold, let's make this happen :grinning:

I've got one question for #68 before we jump in:

How should we handle themeing? Most of the things set in the "theme" file should really be in a "theme" file; ideally users could set their own theme config (either extending or completely replacing the built-in styles) on either a page-w

[2015-09-28 03:38] jossmac commented on #53
Ref #54

[2015-09-28 03:39] JedWatson commented on #53
Also ping @chantastic - you might be interested in this

[2015-09-28 03:49] JedWatson commented on #53
As per #54 `react-themeable` might be a good way to do achieve this, ping @markdalgleish in case you've got any feedback :)

[2015-09-28 04:18] nkbt commented on #53
@JedWatson, @jossmac, don't hurry =)

Do you want to try CSS-modules? Is it a general idea to completely remove any notion of css and go 100% js? Or there is some technical issue that does not allow this to happen and I miss it? Ping @geelen, @markdalgleish too.

I'd be keen to implement the same with css-modules to compare

[2015-09-28 04:38] JedWatson commented on #53
@nkbt one of the biggest upsides with "css in js" - or, "styles that are packaged with your javascript" is the flexibility of styling and ease of use for consumers; remembering that Elemental will be used in all sorts of different environments.

In particular, moving away from LESS will be a real win here; it means somebody can just use an Elemental component and all the styles and theme support i

[2015-09-28 05:03] nkbt commented on #53
@JedWatson css-modules work pretty good now without webpack, and support universal js usage too.
Do you want to completely avoid adding CSS file by the end-user? I mean, would it be okay if it is something like:

[code]
No Webpack or build steps involved.

Give me some days to give it a shot.

[2015-09-28 06:37] andreypopp commented on #53
There's another css-in-js solution developed by me which has theming support included — https://github.com/prometheusresearch/react-stylesheet if you are interested to compare.

The gist of the idea:

* Each DOM component is styled with CSS (compiled to CSS class and injected as `<style />` tag only if component is mounted into the DOM).
* Each composite component is styled with **other components

[2015-09-28 08:43] markdalgleish commented on #53
@JedWatson I actually made react-themeable partly due to our conversations at CampJS. I think it's a perfect fit for something like this, and I'm happy to help however I can :)

[2015-09-28 09:51] kof commented on #53
1. @JedWatson theming done right is a bit more complex than a  direct port of the current styles. Currently styles are a bit messed up, things which should be part of a theme are not. Also there should be a spec first: which kind of declarations are theme. For e.g. should margins, paddings, border sizes be a theme?

I would prefer to separate conversion from less to something else and theme into 2

[2015-09-28 10:39] markdalgleish commented on #53
Well, even though I'm biased towards CSS Modules, the great thing about react-themeable is that it supports JSS, Radium, etc too. CSS Modules doesn't get any extra support :)

[2015-09-28 11:57] mattapperson commented on #53
Less about tech more about API. I like how belle does it.

[2015-09-28 12:39] JedWatson commented on #53
@markdalgleish :grinning:

I suspected it might be - thanks for the support. Appreciate your input as we work through this; if there's something in css-modules we're missing and it would fit well with the goals I've described, do shout out. Don't want to dismiss the work you guys are doing over a lack of experience with it.

@nkbt can you give an example of how theming would be handled? would we b

[2015-09-28 13:39] Chrisui commented on #53
Hey all, Just weighing in with my 2 cents!

I think the two most important things mentioned here so far are @mattapperson with "Less about tech more about API" and @JedWatson not wanting to pidgeon hole the framework into a single solution.

With this in mind and for the flexibility and ease-of-access for developers then supporting both styling via CSS class names AND inline styles is required. Us

[2015-09-28 17:13] cklog opened #69 "Cannot set default value in date/time pickers."
First and foremost, thank you for this beautiful resource.

By setting the Form Input type to "date" or "time", I was successful in rendering both these fields. I could not, however, set default values.

Moreover, there doesn't seem to be any documentation referring to these fields on the Elemental example page. I only discovered them by testing different field types. Trawling through past issues,

[2015-09-28 21:47] nkbt commented on #53
@JedWatson, I will hack some css-modules today then. I am pretty sure they
now pretty perfectly fit the task with minimum API changes and virtually
zero added complexity.

[2015-09-29 06:08] chantastic commented on #53
@JedWatson thanks for looping me in. looks like you've already got a crack team to get this rolling :)

+1 for `react-themeable`
+1 for JSS

With the objectives listed, I'd lean toward JSS. CSS Modules is fantastic (for reals, I love it) but I don't see what this particular project would benefit from CSS Modules; @kof did a bang up job of stating why JS is likely a better fit.

If there's a shooto

[2015-09-29 12:14] nkbt commented on #53
I've spent couple of hours tonight, here are my thoughts.

@JedWatson I've tried to squeeze css-modules into current build process and it does not look trivial to me at all unfortunately. All the building is basically hidden under `react-component-gulp-tasks` and bunch of other helpers. Reviewing this build stack and patching it to support css-modules looks like reasonably complex path.

I feel li

[2015-09-29 12:17] kof commented on #53
This is not part of jss core but rather a plugin for a reason. Basically nested selectors is something jss tries to avoid and this plugin gives us the ability to do so only for rare cases where its absolutely needed or for easier migration.

[2015-09-29 12:26] nkbt commented on #53
@kof I know that, nesting is evil. We have absolutely flat structure with css-modules now everywhere except some 3rd-party modules which are restyled with `:global` selector.

Since JSS does not require to change a thing in a build process (just a JS after all) - it is its great advantage for this project.

[2015-09-29 12:28] nkbt commented on #53
Hm, I guess it is possible to use https://github.com/css-modules/css-modules-require-hook to avoid dealing with build process.

[2015-09-30 09:49] DenisIzmaylov commented on #53
Anyway we have to think about end-users. I meant Elemental UI could be used by Web Designer which are already known about HTML, CSS and how it works. It would be difficult to read/write JSS and try to integrate it to projects which probably already use a lot of custom CSS rules and CSS frameworks like Bootstrap.
I think if we want to populate Elemental UI we have look at Bootstrap as a most popula

[2015-09-30 10:35] kof commented on #53
Users of elemental are not required to use jss. If they want to be ugly they can, by defining themes in pure css and passing classes around.

[2015-09-30 10:47] kof commented on #53
Actually this is one of benefits using jss vs. inline styles. You can overwrite inline styles only by inline styles. But stylesheet classes can be overwritten by other classes and inline styles.

[2015-09-30 11:23] DenisIzmaylov commented on #53
Why we would not use 'patched' CSS to use themes? Like a Bootstrap.

[2015-09-30 12:38] LorbusChris commented on #53
just for completeness I'm linking this here: https://github.com/postcss/postcss
Has anyone heard of it or used it? Seems rather big (used by Google and Twitter) and I was wondering wether this might be a fit to whats required here...

[2015-09-30 12:45] nkbt commented on #53
@LorbusChris css-modules are based on post-css

[2015-09-30 12:50] LorbusChris commented on #53
@nkbt Thanks :+1:

[2015-09-30 13:24] DenisIzmaylov commented on #53
Bootstrap 5 will be in PostCSS :) https://twitter.com/mdo/status/591364406816079873

[2015-09-30 21:53] markdalgleish commented on #53
What about making regular old global CSS the default since it's the least opinionated choice? I think that would be more inclusive of the different project configurations in the wild. It also requires zero code, so doesn't add any overhead to the size of the library.

You can still allow overrides via react-themeable, so if they think JSS is the best choice, it's easy to swap it out.

That's proba

[2015-09-30 22:39] kof commented on #53
@markdalgleish lol, I thought you have already enough of global names clashes as you created css-modules.

[2015-09-30 22:40] kof commented on #53
Especially considered this ui components could be used in any dirty environment, robustness is important.

[2015-09-30 22:44] andreypopp commented on #53
I think this is a good idea. But it can be implemented at the "distribution level" not the "source level”.

What I mean is that you can have styles maintained as CSS modules (or JSS stylesheets) in the repo. Then there can be a distribution built where a single CSS file is provided which is compiled from source format (CSS modules or JSS, though I’m not sure if JSS supports extraction).

[2015-09-30 23:42] nkbt commented on #53
Whatever the case here (jss, css modules, etc) I would strongly consider keeping original classnames in place. So end-users can override styling by old-good global css rules. It is especially important considering backward compatibility with existing code using elemental

[2015-10-05 17:03] NogsMPLS opened #70 "React 0.14 support"
Any plans on supporting React v0.14? (and react-router 1.0?)

Currently getting a lot of these
```Warning: require('react/addons') is deprecated. Access using require('react-addons-{addon}') instead.```

Should we open up a react 0.14 branch?

[2015-10-05 18:00] zackify commented on #70
That's a pretty easy one to fix, I'll try starting a branch tonight.

[2015-10-05 18:06] NogsMPLS commented on #70
yeah, I'm going about it right now actually. also noticed that only 2 components use 'react/addons' and they are both using css-transitions-group. I should have something up here in a little bit hopefully.

[2015-10-05 19:35] NogsMPLS commented on #53
I really *really* like CSS Modules/local scope css. proper linting, easy for anyone to jump in and do CSS, and is easily cache-able.

That being said, I agree that anyone should be able to come in and change whatever they want and use whatever tech they want. I like ```react-themeable``` 's approach of being 'tech agnostic' in the components. Should theoretically allow people to rip out and put in

[2015-10-05 20:46] NogsMPLS commented on #70
Got a PR in now that gets rid of all but 1 warning type in Elemental UI when using react 0.14 and react-router 1.0 release candidates.

Would be nice to see this in a branch so we can prep switch over when RC goes official

[2015-10-05 20:47] zackify commented on #70
I'll make a branch in a minute and accept your pull request
On Mon, Oct 5, 2015 at 13:46 Nathan Smith <notifications@github.com> wrote:

[2015-10-05 21:01] NogsMPLS commented on #70
Awesome! Thanks for the fast merge, closing this now

[2015-10-05 21:01] #70 closed

[2015-10-06 12:38] kof commented on #53
@JedWatson due to lots of discussions I am not sure what  is the current state here.
To sum up what I think i wrote an article: https://medium.com/@oleg008/jss-is-css-d7d41400b635

Major points of confusion I see here is:
- jss is not a different language than css
- using jss doesn't mean all elemental users need to use it, overwrites are still easy using classes and inline styles. I don't really

[2015-10-06 13:55] gotjosh opened #73 "Cannot find module 'react/addons' while using react-rails"
While using react-rails and properly turning `addons` on (double checked via `React.addons`) I keep getting a `Cannot find module 'react/addons'` error on the console despise react loading the `addons`.

Any ideas of where I should start looking for trouble? I'd gladly submit a PR if pointed in the right direction.

[2015-10-06 21:04] nkbt commented on #73
There might be the case that react-rails dose not have a separate `addons` file in there, since it ships pre-built version of React.

I am not quite sure what should be the right solution though =(. Have zero experience with rails-*js-things*

[2015-10-06 21:58] gotjosh commented on #73
You can configure `react-rails` to have the addons configured, I tried in all possible ways (including react from source with addons) and it still wouldn't work.

[2015-10-07 05:54] JedWatson commented on #73
Unfortunately I have no experience using _rails-js-things_ either... @chantastic @zackify I believe you guys have some experience with Rails & React? any ideas on this one?

[2015-10-07 06:27] chantastic commented on #73
I don't know much about the details of `react-rails`. @rmosolgo knows everything.

When you include `React` via `react-rails`, it's the `dist` version of React. `addons

[2015-10-07 06:27] chantastic commented on #73
oops. submitted too soon... editing the previous answer.

[2015-10-07 13:02] NogsMPLS commented on #53
Does JSS actually export a CSS file(s)?

My biggest issue with many of the inline css javascript stuff, is that the "css" isn't cache-able. Which you seem to list as a negative:

That's actually a big benefit for performance.

Also if it doesn't export to CSS, then when you get to media queries - are page resizes looking at offSetWidth and things like that? Sounds like a LOT of repaints and way le

[2015-10-07 13:19] kof commented on #53
@NogsMPLS

if  you are talking about browser files cache then yes, javascript is cached the same way CSS is.

no, it generates a style element and media queries work exactly the same way

no, you are free to load your jss styles in separate files or whatever you want to separate stuff.

yes you are ... do more, talk less ...

[2015-10-07 13:32] NogsMPLS commented on #53
1. the javascript app files in any given application will be changing more than the css files, thus breaking cache more often than the separate css file

2. cool, that's awesome! Glad that that's been solved.

3. Sure, but you listed the 'style.something' as a negative, when you'd effectively be using the same syntax with jss when/if you separate the file. Also, my bloat comment was more in refere

[2015-10-07 13:32] SpencerCDixon opened #74 "There should be a 'Getting Started...' page"
Maybe this comes from me being super new to the JS/React community but there are no clear instructions on how to get this set up.  Problem I'm running into right now is how to get the css loaded.  Do I need to compile your less myself from node_modules using webpack/browserify? Seems hacky to me but maybe just because I'm spoiled from ruby gem ecosystem.

At the very least there should be a page l

[2015-10-07 14:00] kof commented on #53
Its up to you how you do your builds, you can have separate app.js and style.js files. This has nothing to do with jss.

[2015-10-07 18:15] NogsMPLS commented on #74
I agree, would be nice. Not everyone knows to immediately look in the package.json file for scripts.

[2015-10-09 00:48] gotjosh commented on #73
I'm going to be doing some testing with browserify-rails, I'll keep you guys posted.

[2015-10-09 12:16] JedWatson opened #77 "Update to React 0.14"
I propose we update for React 0.14 with a new version (0.5) and leave behind support for 0.13.

Although it's not strictly necessary to drop support for 0.13, upgrading will allow us (finally) to start using parent-based context for certain features like theme support and validation.

I think it will also help keep the codebase clean and free of warnings (including depending on `react-dom`, etc);

[2015-10-09 12:24] nkbt commented on #77
Looks totally reasonable to me.

[2015-10-09 21:37] jossmac commented on #77
Can't wait :+1:

[2015-10-09 21:59] NogsMPLS commented on #77
Heck yes!

I am curious on whether it should be a Major number increase instead of a Minor. But again, that's more a curiosity of whether semver increments should extend to major dependencies updating or not.

Minor obviously still works with the ^ symbol, which is probably the most common implementation anyways.

[2015-10-12 12:24] JedWatson commented on #77
Done! I just pushed `v0.5.0`. @NogsMPLS SemVer standard for 0.x versions is that the minor behaves like a major, and patch like a minor _or_ a patch (so can be used for fixes _and_ non-breaking additions)

[2015-10-12 12:24] #77 closed

[2015-10-12 12:25] JedWatson commented on #73
@gotjosh I just published an update for React 0.14, which now has `react-addons-css-transition-group` as a standalone package. So there's a very good chance that if you update to that, this problem will go away :)

[2015-10-14 12:50] JedWatson commented on #53
Sorry for leaving this hanging so long @kof and everyone - we've been swamped with deliverables in the last week. (if any senior javascript devs are interested in a job in Sydney, please ping me, seriously!)

To wrap it up and move forward, I feel the best option is to reimplement styles in Elemental with JSS :+1:

@kof, are you still happy to help us get that done? @jossmac and I are good to go.

[2015-10-14 13:46] kof commented on #53
Yep, I will invest time to finalize button component, polish it till it fits all our needs. Then somebody needs to continue applying it to other components and I will help if any questions or problems appear.

[2015-10-15 12:53] topgun743 opened #78 "Setting Custom Width/Height and page position for Modal. How?"
I have seen Elemental UI's demo. I have one concern.
How can we set custom width and height on Modal without using any third party dependency like CSS/jQuery/javascript etc.
And also similarly how can we position modal (top/left way) on page without using CSS/jQuery/Javascript etc?

[2015-10-15 13:09] jossmac commented on #78
@topgun743 you make a good point!

[2015-10-15 13:12] #78 closed

[2015-10-15 13:16] jossmac commented on #78
@topgun743 this will be in the next release. Thanks for the heads up

[2015-10-15 13:16] topgun743 commented on #78
Lovely. Where can I find a live preview now?

[2015-10-15 20:27] NogsMPLS commented on #36
I believe this is fixed with the react 0.14/ react-router 1.0.0 changes I put in the other week, might need more thorough testing.

[2015-10-15 21:24] NogsMPLS commented on #59
What browser/OS is this in?

Latest Chrome, Firefox, and IE10+ on Windows 7 machine looks good to me. (although contiguous does seem to work correctly on IE10)

[2015-10-15 21:53] sahat commented on #74
:+1: For getting started page.

[2015-10-15 23:20] #35 closed

[2015-10-16 00:26] #19 closed

[2015-10-16 03:23] jossmac commented on #1
No longer relevant. Ref #53

[2015-10-16 03:23] #1 closed

[2015-10-16 03:31] jossmac commented on #59
@Guria having trouble reproducing this, would be great to get your system/browser details. Please note that Elemental supports:
- Chrome (mobile and desktop)
- Safari (mobile and desktop)
- Firefox
- Internet Explorer 10 and up

[2015-10-16 04:23] #36 closed

[2015-10-16 04:26] JedWatson commented on #36
I did some experimenting last week, and spoke to GitHub, and it turns out the only way to avoid 404s is to _duplicate_ the `index.html` at _ALL_ the paths. The fix in place when react 0.14 was released was actually that experiment, I committed copies of the files to the `gh-pages` branch directly.

I've added the duplicates to the `site/src` directory for now, which solves the problem, it would be

[2015-10-16 04:27] JedWatson opened #81 "Automatically duplicate site index.html for each page route during deployment"
Ref #36

We've got copies of the `index.html` page for each possible route at the moment in the `site/src` folder.

It would be nice to automatically create the copies as part of the gulp publish task (will probably require changes to the `react-component-gulp-tasks` package to support this)

[2015-10-16 05:08] JedWatson commented on #74
Just acknowledging this, it's something we'll do as soon as we've got time. If anyone wants to help contribute some content please give a shout out!

[2015-10-16 14:35] dbecker215 commented on #73
I'm having the same issue, without Rails. It seems to be caused by the dependency on react-interval. I submitted an issue with react-interval because it says it should be compatible with 0.13 and 0.14, but a single "require('react-addons-pure-render-mixin')" on line 13 of ReactInterval.js seems to break it for us on 0.13. We were supposed to push to production this week at my company with 0.13 and

[2015-10-16 14:54] jossmac commented on #73
Sorry you're having trouble @dbecker215

Just to be sure that we're on the same page, is your dependency on `react-interval` coming from Elemental?

[2015-10-16 15:07] dbecker215 commented on #73
Yes, I'm not using it directly. In the npm_modules for Elemental I have blacklist, classnames, and react-interval as dependencies.

[2015-10-16 15:10] jossmac commented on #73
Okay great, if you update to the latest version (0.5.1) react-interval is no longer a requirement

[2015-10-16 15:12] dbecker215 commented on #73
That tell me that 0.5.1 requires 0.14. I was trying to avoid switching to 0.14 until we had more time at our company to test with it. Thanks though.

[2015-10-16 15:18] jossmac commented on #73
0.4.7 or 0.4.8 will also work

[2015-10-16 15:29] NogsMPLS commented on #81
Would using something like this help? https://github.com/shinnn/gulp-gh-pages

If bringing in another dependency either here or in ```react-component-gulp-tasks``` is okay, I'll look into it a bit further.

[2015-10-16 15:43] dbecker215 commented on #73
@jossmac just got it back to working, thanks.

[2015-10-16 15:50] NogsMPLS commented on #69
```<input type="date" />``` and ```<input type="time">``` are only really supported in Chrome & Opera, which is probably why you were able to see 'something' when you did that. (See: http://caniuse.com/#feat=input-datetime ).

If you try in pretty much any other browser though, those two input types will not work.

You are correct in that it seems like Elemental has deprecated/halted development o

[2015-10-16 16:31] NogsMPLS opened #82 "Roadmap"
Would love a roadmap of desired components/direction of framework. Would help with community contributions to know what the needs to be done beyond bug fixes.

[2015-10-18 08:06] nkbt commented on #53
Just a nice thing that might be helpful too https://github.com/postcss/postcss-js (in addition to jss, I guess)

[2015-10-19 15:23] MMRandy commented on #53
Question, we are just starting to build out a large React app, really like Elemental UI and would like to use it now.  Given the decision to port from LESS to JSS, would you recommend sticking with LESS until the port is complete?  I know it's early, but any idea how long this would take?  Thx.

[2015-10-19 19:44] topgun743 commented on #74
Adding to this question: Can ElementalUI be used without using Node.js. I want to use it my web application that Asp.Net MVC based but can't figure out how to use it in there. Tried dist of ElementalUI on:
https://github.com/elementalui/elemental-dist
but it fails upon not having certain dependencies which I guess require Node.js context. So is there anyway to use it without Node by simply having

[2015-10-20 07:28] topgun743 commented on #78
Just saw your changes. Cool, Lovely. Thanks @jossmac

[2015-10-20 07:42] nkbt commented on #53
@MMRandy I would highly recommend to stick to css-modules in your project.

The whole idea of Elemental styling refactor is about removing this binding to LESS. Having styling done via JSS will allow anyone to use any other styling technique.

[2015-10-20 07:57] topgun743 opened #83 "How to use ElementalUI in a simple website without using node.js?"
I am trying to figure out how can I use ElementalUI in a simple website without using node.js?
I mean by simply adding js files to page head section and not through nodejs.
Is it possible?
Tried dist of ElementalUI on:
    https://github.com/elementalui/elemental-dist
but it fails upon not having certain dependencies which I guess require Node.js context. So is there anyway to use it without Node

[2015-10-20 08:01] nkbt commented on #83
Ah, I need to transfer my auto-publish script here at last! To publish automatically to bower.

But you don't have to have node-based project. You just need to have some build process for your frontend. Though if you don't have one at all, then Give me a little bit of time and elemental-dist will be up -to-date

[2015-10-20 08:06] topgun743 commented on #83
Thanks @nkbt for the reply.
I am new to ElementalUI. Just want to use it along with ReactJS and I am not using nodejs. My project is simply Asp.Net MVC based. That's why asked you if it can be used straight away by adding to page header.
I can wait for your changes in Elemental-dist. Hope they will be soon. Thanks

[2015-10-20 12:13] nkbt commented on #83
Ok, so you want to have pre-built dist then. I'm closing this in favor of #39, since you will have compiled lib there. If you don't mind, of course.

[2015-10-20 12:13] #83 closed

[2015-10-20 12:27] topgun743 commented on #39
I have downloaded and installed npm, webpack, browserify, bower, GIT onto my machine.
Now using any of these (webpack, browserify, bower) how can I output one single bundle.js file that includes all the src js code related to elemental plus also their dependencies whatsoever? Would be thankful if you give me the commands/script that I can execute on command line and get my output file.
Please cons

[2015-10-20 12:31] nkbt commented on #39
@topgun743 the easiest way would be to clone the repo an run `npm run build`. Compiled JS an CSS will be in the `./dist` folder.

[2015-10-20 12:32] nkbt commented on #39
so

[code]

[2015-10-20 13:12] nkbt commented on #39
I created a PR #84 with bower auto-publish script

So now as soon as we publish on npm, we should run `npm run publish:bower` too.

Script is fairly simple, though I still want to make it cross-platform JS-only.

For now I could not figure out why `elementaljs` (already published) cannot be re-published. So working package is `elemental-dist`

I guess we need to update README with Bower instructio

[2015-10-20 13:30] MMRandy commented on #53
Thx @nkbt.  Seems like the gist of this thread was to move towards JSS not css-modules.  The problem I see with css-modules is that it wants to 'modularize' every css file based on extensions, which makes it tough to use Elemental's styles as they are, no?  We would need to alter file extension or names, and the webpack build process, in order to have the two play nice it would seem.  It would app

[2015-10-20 13:38] kof commented on #53
just @MMRandy wait until we are done with migration

[2015-10-20 13:45] topgun743 commented on #39
Did this
[code]
Took following files from dist folder:
elemental.css
elemental.js

Added these two files to my HTML page header. Executed the page but still it is complaining something like "module classnames not loaded yet". I guess full js output (independent of any dependency) is still not coming.

[2015-10-20 14:03] MMRandy commented on #53
Thx @kof...now I'm going to be that guy and ask: any idea idea on timing for this?  A week, a month, longer?  Sorry, we're just at a critical decision point and want to pick a horse...thx again.

[2015-10-20 14:05] kof commented on #53
from my side, button component should be ready this week, all others depends on others, also it depends on issues we are going to solve on the way ... so it might take some weeks or even a month.

[2015-10-20 14:19] nkbt commented on #39
That actually looks like a bug. Classnames is in dependencies and I believe it should be included into a build.

[2015-10-20 14:23] topgun743 commented on #39
[code]

[2015-10-20 14:23] nkbt commented on #53
@MMRandy this is a discussion to what use for library, for the end-product css-modules is better choice as for our experience (we used JSS for several months and then migrated everything to css-modules).

I highly recommend to try both for your project on some fairly complex page and make a weighted choice.

[2015-10-20 14:25] nkbt commented on #39
@topgun743 can you open another issue for this one? Sort of `Compiled dist version does not include classnames`

[2015-10-20 14:29] topgun743 opened #85 "Compiled dist version does not include classnames module"
As per instructions of @nkbt did following:

[code]

Took following files from dist folder:
elemental.css
elemental.js

Added these two files to my HTML page header. Executed the page but it complained following:
[code]
I guess full js output (independent of any dependency) is still not coming.

Reference issue: https://github.com/elementalui/elemental/issues/39#issuecomment-149583456

[2015-10-20 20:11] NogsMPLS commented on #82
Well, just to get things rolling, here's a Testing roadmap

- [ ] Implement testing framework
 - [ ] Component Coverage
  - [ ] Alert
  - [ ] BlankState
  - [ ] Button
  - [ ] ButtonGroup
  - [ ] Card
  - [ ] Checkbox
  - [ ] Col
  - [ ] Container
  - [ ] Dropdown
  - [ ] EmailInputGroup
  - [ ] FileDragAndDrop
  - [ ] FileUpload
  - [ ] Form
  - [ ] FormField
  - [ ] FormIcon
  - [ ] FormIconFiel

[2015-10-20 20:17] sqrtroot opened #86 "Typescript support"
Hi guys,
I would like to know if there's gonna be a typescript typings file available for elementalui?

[2015-10-21 03:13] JedWatson opened #87 "Dropdown component should pass the item object to `onSelect` handler"
At the moment, the `Dropdown` component passes the `value` property of the selected `item` to the `onSelect` handler.

This is pretty limiting and it would be better to just pass the entire `item` object to the handler.

This would be a breaking change, so I'm logging it here for inclusion in the next non-patch release.

[2015-10-21 04:50] #39 closed

[2015-10-21 05:14] JedWatson commented on #85
We need to include "classnames" in the Bower dependencies, as per [react-select](https://github.com/JedWatson/react-select/blob/master/bower.json)

[2015-10-21 05:18] JedWatson commented on #85
@topgun743 sorry that's more an answer for the Bower dist, not your issue here.

If you're making your own custom build, you'll need to include dist builds of the other dependencies as well:

* `blacklist`
* `classnames`
* `react`
* `react-addons-css-transition-group`
* `rect-dom`

I don't think it's a good idea for us to generate these into our dist build, as you will probably want to manage them

[2015-10-21 05:18] nkbt commented on #85
+ `react-addons-css-transition-group`
+ `react-dom`

Not published to bower unfortunately.

[2015-10-21 05:59] JedWatson commented on #85
Just read a bunch of issues in the React repo around this, still unclear. Seems like those packages (`react-dom` and `react-addons-*` friends) _should_ either be included in the React dist on bower / cdnjs / etc, or available as their own packages.

@zpao @spicyj any chance you guys could clarify how we're supposed to depend on those for bower?

[2015-10-21 11:51] nkbt commented on #85
For my libs I found the best way to test that build is correct, to create a Codepen demos. Sometimes it takes a bit of time, but then I am pretty sure it is not broken.

For example http://codepen.io/nkbt/pen/MarzEg?editors=101 (codepen demo for react-collapse)

[2015-10-21 12:17] jossmac commented on #53
It's worth mentioning since I will be doing the majority of the migration that I'll be unavailable for the next fortnight; this Saturday I'm getting married!

@JedWatson perhaps you can coordinate with @kof so we don't lose too much momentum on this?

[2015-10-21 12:17] JedWatson commented on #53
Just to clarify, @nkbt is talking about his company, not the Elemental team :)

@MMRandy we're hoping to finish the migration within _weeks_. At the moment @kof is setting up an example of how best to transition individual components, starting with the Button. Once we've got that to work from, we'll hopefully get through the rest pretty quickly. Some problems (probably) need to be solved along the

[2015-10-21 20:44] MMRandy commented on #53
Thx @JedWatson for the the detailed response.  Looking forward to using JSS for both our project and the Elemental lib.  At this moment tho, we started our project with css-modules and are now trying to use EUI on new components...and now I can feel the pain points of attempting to do so.

Is it possible to use EUI alongside of a project that is already using css-modules if your webpack loader is

[2015-10-21 21:09] nkbt commented on #53
@JedWatson thanks, yes, had to mention that right away. In our company, of course.

[2015-10-21 21:12] nkbt commented on #53
@MMRandy I guess it is better to transfer this discussion to [Discord Reactiflux](https://facebook.github.io/react/blog/2015/10/19/reactiflux-is-moving-to-discord.html) (#elemental channel or private msg)

[2015-10-23 01:34] zpao commented on #85
I don't have a good answer for you. The whole Bower thing is a mess and really doesn't play well with what we're doing for our npm packages, which is to reach into the react project and export a specific module. For some of the addons they could be pulled out and built standalone, others will continue to reach into react so may only be available for the browser with prepackaged builds (react-with-

[2015-10-23 02:10] nkbt commented on #85
@zpao for my modules I've created a separate org and wrote some scripts to automatically publish them to bower, so I don't have a mess in my main repos: https://github.com/nkbt/react-component-template

But I totally agree that the whole bower thing is a mess. Unfortunately too many people rely on it =(.

[2015-10-23 20:21] markdalgleish commented on #53
@kof Genuinely curious here, I think JSS is great—what does this mean for apps that need server rendering? Will JSS inline a style tag for each component? Is there a way for me to extract the CSS for all JSS-based components on the page?

[2015-10-23 21:22] kof commented on #53
I don't have a definite answer for that, there are some ways, which might be good or bad in different situations. There is no separate project which takes care of this yet, but we need one or at least maybe some demos of how such builds can be done.

Pulling styles out of react components is relatively easy, its `props.sheet.toString()`

[2015-10-23 21:27] kof commented on #53
I did some refactoring in jss recently, better abstraction over css rules and now in process is rendering abstraction. https://github.com/jsstyles/jss/pull/113

Which means that jss can get a different rendering implementations.

Now I can write a ServerRenderer which will inline style tags. If anybody is interested ... you are welcome to contribute.

[2015-10-23 21:29] kof commented on #53
This is basically the reason why I am still not on the button component ...

[2015-10-26 21:16] kof opened #89 "why do we use classNames helper function?"
Here is an example of the same className built with and without any tools. I don't think the first version is more readable or nicer than the second, do you?

[code]

[code]

[2015-10-26 21:32] jimbolla commented on #89
It could read nicer if you're making use of some ES2015 syntax and aligned values... what if you format it like:

[code]

[2015-10-26 21:38] kof commented on #89
yeah this is  a bit nicer ... still not sure though if its worth using utility ...

[2015-10-27 19:58] vramana opened #90 "Adopt a Carousel component"
Hey,

I have written [carousel component](https://github.com/vramana/react-flex-slick). And this project lacks a carousel component. Would you consider it making it a part of this project? They way I wrote it differs from this projects style. I can rewrite it to match your project style I have no problem.

I think its better as part of project like this because it will be helpful for a lot of peop

[2015-11-02 22:26] 3plusalpha opened #91 "window not defined"
Hi!
I am using este `https://github.com/este/este` and found `Col` not working when rendered on server side. Any chance to incorporate a fallback for `window`?

[2015-11-10 21:14] jonathanp opened #92 "Dropdown component render bug in Safari"
The dropdown component has a render bug in Safari 9.0.1 on OS X. Check out the arrow in the screenshot below, it has a transparent pixel between the edges...

<img width="166" alt="screen shot 2015-11-10 at 16 13 35" src="https://cloud.githubusercontent.com/assets/76098/11075955/09b14fac-87c6-11e5-9e2c-4de4870c6ee2.png">

[2015-11-11 04:47] jossmac commented on #92
Thanks for reporting this @jonathanp

Luckily it's limited to retina displays

[2015-11-13 16:48] JedWatson commented on #91
Fixed by #93

[2015-11-13 16:48] #91 closed

[2015-11-17 17:28] danii1 opened #94 "Can't set ref to FormInput"
It seems you can't set custom `ref` to the FormInput because it overrides ref prop, thus we unable to reference form inputs by `this.refs.username.value` :
https://github.com/elementalui/elemental/blob/master/src/components/FormInput.js#L52

[2015-11-17 17:31] danii1 commented on #94
Besides it should be doable with ```autoFocus``` prop instead focusing manually

[2015-11-17 19:31] zackify commented on #94
The new React Select does away with this as well. Wait for Jed to chime in
but I'm pretty sure he's moving towards 100% props based components. You
should store the state of inputs yourself and pass them to the input.
On Tue, Nov 17, 2015 at 12:31 Daniil Pokrovsky <notifications@github.com>
wrote:

[2015-11-17 19:59] danii1 commented on #94
Component shouldn't break refs anyway, and you shouldn't enforce decision to store the state of the input.

[2015-11-17 20:04] zackify commented on #94
If you take a look at the [docs on refs](https://facebook.github.io/react/docs/more-about-refs.html), they are not meant for this: "In most cases, this should be unnecessary because the reactive data flow always ensures that the most recent props are sent to each child that is output from render()." It is an antipattern to grab values through refs. I do agree it would be nice and I would like to s

[2015-11-17 22:46] nkbt commented on #94
my thoughs on this: refs should be only used if you need to deal with some legacy or 3rd-party stuff. In properly written app there is no need for refs at all

[2015-11-18 09:10] kof commented on #94
interesting ... also if we wrap components into higher order components, you can't access the ref that easily, you will need a callback.

I suggest to not to use string refs, but use a function, this way we can have the ref inside and also call the user ref function and pass the ref too.

[2015-11-18 09:10] kof commented on #94
I have heard string refs will be deprecated in react anyways.

[2015-11-18 11:50] danii1 commented on #94
I agree that my example is not particularly good usage of refs(I used it for throwaway prototype with login form), I still use refs when testing components as they provide convenient access to DOM nodes. Anyway in this component ```ref``` was used to set focus for the input, I replaced this with supported by React ```autoFocus``` prop and removed ```ref``` overwrite.

[2015-11-19 15:19] zenorocha commented on #74
+1

[2015-11-24 23:55] jeffreypriebe opened #98 "Pagination limit behaviour"
Changed the "Limit" to 2 but it still shows 3 pages. In screenshot, it was the last value set.
![screenshot002](https://cloud.githubusercontent.com/assets/1160097/11384342/bb3c3e1e-92c3-11e5-83cb-e9dc1603818d.png)

[2015-11-25 00:01] jossmac commented on #98
Your current page of `12` is invalid, which is skewing the results

[2015-11-25 00:11] jeffreypriebe commented on #98
Fair point. I just tried it again with a valid page and it errors the same.
Values: 2, 25, Potatoes, Potato, 123, 2

In fact, I can't make Limit of "2" work with any values.

[2015-11-25 00:14] jossmac commented on #98
@jeffreypriebe thanks for retesting

@MunGell would you mind having a look at this?

[2015-11-25 08:16] MunGell commented on #98
@jossmac, yes, no problems

[2015-11-26 11:29] MunGell commented on #98
Hey guys,

I've done some tests on this and actually recalled why it was designed that way.

This is expected behaviour &copy;  for all even "limit" numbers where Pagination adds +1 to center selected page in the middle (even covered with a test [here](https://github.com/elementalui/elemental/pull/58/files#diff-acf66ed1890f5d1e1c276218f9e9d0eeR110)). Basically, I was trying to [achieve](https://gi

[2015-11-27 18:26] jeffreypriebe commented on #98
@MunGell I see the point about symmetry but it really does look wrong to an external user (even if there were documentation).

Using an even number also raises the question of which side to unbalance the page on (higher, lower, or changing depending on how many pages reside on each side of the current page).

[2015-11-28 02:56] zbyte64 commented on #74
:+1:

[2015-11-30 04:16] MMRandy opened #99 "PhoneGap jank?"
Trying to use the Modal component in a PhoneGap app.  It works fine in the browser during testing, but when building via PhoneGap Build and testing on the device, the closing of the modal, along with the background overlay, do pretty strange things..flickering, changing size, etc..before finally closing.

Any ideas on this?  The code I used was pretty much copied form the Elemental Modal page verb

[2015-11-30 04:24] jossmac commented on #99
The [modal component](https://github.com/elementalui/elemental/blob/master/src/components/Modal.js) has a fairly unique composition compared to other components:
- It uses a portal to inject code into the DOM
- Accessibility enhancement for web use

I suspect the accessibility stuff is the culprit; recommend duplicating the component in your codebase and replacing the relevant sections to see how

[2015-11-30 04:24] #99 closed

[2015-12-02 15:07] n0ne opened #100 "Localization support"
Hi
What about localization for your components? Is it possible?

[2015-12-03 05:18] #92 closed

[2015-12-03 05:47] jossmac commented on #100
@n0ne we haven't thought about it to be honest. I imagine it would be helpful for the date-select but we took that out.

Could you be a bit more specific, what problem are you trying to solve?

[2015-12-03 12:56] martinwh99 commented on #74
+1

[2015-12-03 13:46] MunGell commented on #98
@jeffreypriebe sorry for late response, I will create a PR with these changes, so we will be able to test it.

[2015-12-03 14:50] martinwh99 opened #102 "Change color or text alignment of an element"
So this is probably an absolute beginner question, but this is what i am. I'm playing around with meteor, react, webpack and elemetal-ui. I would like to know, how i can change the color for a row, col, button or an other element. And also, how i can change the alignment for a text in a col, or a field (left, right, center).  Thanks

regards
Martin

[2015-12-03 18:27] brunowego commented on #85
+1

[2015-12-03 22:20] jossmac commented on #98
@MunGell perhaps we could add a `preverseSymmetry` prop?

[2015-12-03 22:47] MunGell commented on #98
@jossmac yes, but this will add additional configuration parameter, which I was trying to avoid (not to overcomplicate component API).

To preserve symmetry developers could just ensure they pass odd number to `limit` prop.

I will change limit logic for even numbers to keep selected page on the left side. What do you think?

[2015-12-03 22:49] jossmac commented on #98
@MunGell true, that's tidier. Sounds good man, thanks for looking into this

[2015-12-07 11:11] #98 closed

[2015-12-08 16:13] brunowego opened #104 "Use of this library with Angular"
I wish use this components with Angular for improve the performance of components, I try implement this with ngReact but I not found a way to do this. Perhaps I not have skills to do this. Can tell me if someone from development team did something similar?

[2015-12-09 03:47] nkbt commented on #104
If you are asking how to put some react goodness into your angular code, here is a way to do it:

[code]

[2015-12-09 04:58] lwansbrough opened #105 "How do I override constants?"
I want to permanently change the gutter width. This is fairly trivial on the LESS side, however overriding the constants.js file seems impossible without modifying the source code.

[2015-12-09 11:37] brunowego commented on #104
Nice, thanks @nkbt :+1:

[2015-12-09 11:37] #104 closed

[2015-12-15 08:02] slider23 opened #107 "Modal: Content moves to the right in Windows browsers"
This problem have almost all early versions scripts of modal windows. In Windows (not Mac) after launch modal window content under modal window moves to the right. Root of problem - scrollbar in Windows have 15px, scrollbar in Mac - 0px.

![modal_window_elemental_ui](https://cloud.githubusercontent.com/assets/142277/11805008/92ce9984-a319-11e5-893c-c13ea971448b.gif)

Same issues in Twitter Bootstr

[2015-12-16 07:48] ericelliott opened #108 "Server render - ReferenceError: window is not defined"
The following causes a reference error in Node:

[code]

Full error output:

[code]

[2015-12-16 12:17] JedWatson commented on #108
I _think_ I've resolved that, will need to spin up the universal boilerplate and add Elemental to check though. It may be a hard break just importing the `ally` package otherwise :disappointed:

[2015-12-18 03:08] ericelliott opened #109 "Install failing on latest"
[code]

[2015-12-18 04:01] JedWatson commented on #109
I can't reproduce this from within Elemental itself.

Babel is traversing up and finding `/Users/eric/Dropbox/dev/universal-keystone/.babelrc.presets` and then choking on that. We need to tell it not to in Elemental somehow. @sebmck any hints on how to do this?

[2015-12-18 04:10] ericelliott commented on #109
Oh, if that's all it is, maybe it's not as big a deal as I thought. If the tests are passing for you, could you publish the latest so I can just `npm install` as usual and test it out?

[2015-12-18 04:30] ericelliott commented on #109
I think upgrading this to Babel 6 is probably the best way forward?

[2015-12-21 07:58] LinkTree3 opened #110 "Button dropdown box flickers when closing"
I tested this in firefox and chrome and this happens only in chrome.
When clicking on one of the options in the dropdown or on the button itself to close the menu, the menu closing animation rapidly flickers until it closes instead of closing smoothly.

[2015-12-22 02:00] thebigspoon commented on #108
I assume this turned out to be "a hard break" with `ally` given the following?

[code]

[code]

[2015-12-22 02:46] ericelliott commented on #108
yep.

[2015-12-22 12:15] JedWatson commented on #108
Just updated to the latest beta, let's try it again. @thebigspoon can you let me know how this works out for you?

[2015-12-22 12:25] rodneyrehm commented on #108
Hey @JedWatson, is there a reason you're using the UMD build (~100KB minified) rather than only the modules you really need? Right now I can only see you using [`ally.when.visibleArea`](https://github.com/elementalui/elemental/blob/6b5859f0be64ae6561062b722c362175d490bac2/src/components/Modal.js#L71), which by itself is round about 8KB minified.

[2015-12-23 00:41] thebigspoon commented on #108
@JedWatson: `elemental@0.5.9` works for me now

[2015-12-23 01:11] thebigspoon opened #111 "node-lessify compatibility?"
It seems like the developer is required to import and transform component styles where they are needed. I'm not against that. But `node-lessify` is not working for me ( see error below ). I know this isn't that package's forum. I'm wondering what elementalui uses internally for this?

The erraneous import in question:
[code]

The targeted transform:
[code]

[2015-12-23 20:43] magnuslidman commented on #85
So I'm trying to play around with elemental UI without using browserify - just use the correct set of precompiled js script tags. I'm not having any luck (admittedly I am new to the whole react and transpiling world), I can't for the life of me get rid of the "Cannot find module 'classnames' " error - I've installed the classname module from bower and inluded the index.js in my script tags, but th

[2015-12-23 21:03] nkbt commented on #85
@magnuslidman did you include `classnames` *before* `elemental`?

[2015-12-23 21:16] magnuslidman commented on #85
Yes I did. With the risk of showing my dirty underwear to the world, this is the html i have:

 	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="/components/react/react.min.js"></script>
    <script src="/components/react/react-dom.min.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/c

[2015-12-23 21:25] nkbt commented on #85
That looks like a problem. Though, bower issue (and deps) is going to be
solved very soon with npmcdn. I'm working to address the issue asap.

[2015-12-23 21:30] magnuslidman commented on #85
looking at the code, classnames seems to be a real simple construct - is there another js library I am missing (that would make the elemental js link the classnames export?

 Also - can I help out in any way to help you reproduce (if it truly is a bug - I can compile and run the example site fine using npm run build on the elemental source)

[2015-12-23 22:21] nkbt commented on #85
I reckon the problem is somewhere in the build process, which produces `elemental.js` and does not handle external dependencies well.

No worries, that is quite easy to reproduce.

[2015-12-25 07:59] Tackyshot opened #112 "Col padding causes issues."
Because of the fixed padding for the Columns (10px default) there are styling issues when it comes to specifying your widths. Columns should be padding and margin free.

[2015-12-25 12:45] nkbt commented on #85
Gotcha!

@JedWatson note the letter case: `classnames` and `classNames`

<img width="652" alt="20151225-233823" src="https://cloud.githubusercontent.com/assets/175264/12002899/a64b74f6-ab60-11e5-8681-a87bfae453fb.png">

[2015-12-25 13:53] nkbt commented on #85
I made a PR for classnames issue: #113

Though there is another one. `blacklist` is not meant to be used without build step. I made a PR to fix that https://github.com/dcousens/blacklist/pull/6 too

[2015-12-27 01:31] nkbt commented on #85
Reopen since the issue with `blacklist` is still not solved.

[2015-12-27 02:30] nkbt commented on #85
Not only blacklist is a problem apparently. `react-addons-css-transition-group` also relies on build step and currently cannot be used in non-build environment. I will deal with it.

[2015-12-27 02:33] nkbt opened #118 "Fix standalone build"
At the moment there are problems with some dependencies like `blacklist` and `react-addons-css-transition-group` which cannot be used directly and have to be built.

[2015-12-27 02:33] nkbt commented on #85
Closed in favour of #118.

[2015-12-27 02:33] #85 closed

[2015-12-27 17:14] thebigspoon commented on #111
I see this issue is with absolute versus relative path declaration of the .less import. Sounds like there is a compilation step for elemental that needs to run and I should be importing the .css instead.

I hope #74 clears things like this up in the future. Closing this

[2015-12-27 17:14] #111 closed

[2015-12-28 22:14] biznickman opened #119 "Ally.js seems to be a pre-built javascript file"
I'm using elemental UI in a webpack project and I'm getting the following error:

`This seems to be a pre-built javascript file. Though this is possible, it's not recommended. Try to require the original source to get better results.
 @ ./~/elemental/~/ally.js/ally.min.js 2:412-419`

Any ideas how to resolve this?

[2015-12-29 13:39] JedWatson commented on #108
Good point @rodneyrehm, related to #119 also. This is really an issue with `ally.js`, the `package.json` entry shouldn't point at a UMD build, but at the transpiled source. (UMD entry point is what you want for `bower.json`). I'll open an issue on the ally repo about this.

_Generally_ speaking, it's not best practice to include modules from a package directly (i.e. `require('ally.js/when/visible-

[2015-12-29 13:39] #108 closed

[2015-12-29 13:41] JedWatson commented on #119
I've just pushed a new version `0.5.11` that disables the `ally` integration until we can review it more thoroughly, there have been a number of issues related to it. See my last comment on #108 for the full story.

[2015-12-29 13:41] #119 closed

[2015-12-29 17:58] rodneyrehm commented on #108
thank you! I made the UMD bundle the `main` script to simplify things for the general public, thinking that anyone who's able to use modules will understand how to switch to using them.

I'm open to suggestions! maybe we can discuss in the issue you're about to open? :)

let me know how I can help.

[2015-12-29 22:29] nkbt commented on #108
I've created #118 recently, which sort of covers this case too, or at least a blocker.

[2015-12-31 03:10] hackwaly opened #120 "Can you add the select control used in keystone demo?"
It's awesome, but I can't find it in elemental.

![image](https://cloud.githubusercontent.com/assets/540298/12060637/e23b14ba-afae-11e5-85b2-f88dca3aaced.png)

[2016-01-01 03:12] dcsan opened #121 "getting started?"
is there a getting started guide anywhere?
what do i need to do to include this project?

Ideally i don't want to introduce bower etc to my toolchain, but I don't see a /dist/ folder I can just add to a project...

[2016-01-01 04:44] jossmac commented on #120
http://jedwatson.github.io/react-select

[2016-01-04 02:05] hackwaly commented on #120
Many thanks!

[2016-01-04 02:05] #120 closed

[2016-01-05 05:08] jossmac commented on #112
Row and Col both accept the property `gutter`, which is defaulted to `20px`. It'd be nice if this could be defined once in the consumer app and possibly passed down through context.

@Tackyshot you can use the prop to set your gutter right now

@JedWatson thoughts on defaulting through context?

[2016-01-05 22:14] cameronjroe commented on #118
Does the build currently include any css? I only see the less files.

[2016-01-06 01:54] cameronjroe opened #123 "rems"
Thoughts on using rems instead of pixels in css. Bootstrap 4 has moved over to rems and it's pretty well [supported](http://caniuse.com/#search=rem) out there at this point.

[2016-01-06 02:08] cameronjroe opened #124 "<Button /> overriding type attribute, not submitting form"
I'm trying to get a basic form going:

[code]

The button won't submit the form, also `type` is an button html attribute that should be able to be set to "submit". Am I doing something wrong?

[2016-01-06 02:21] jossmac commented on #123
Support has greatly improved since I last checked!

I think it would be a good step forward

[2016-01-06 02:26] #73 closed

[2016-01-06 13:18] cameronjroe commented on #123
Definitely! I'd also recommend suggesting setting the html element to a `font-size: 62.5%` for the easier use of rems based on a `10px` base. For example, `1.6rem` would be 16px (set on the body) and all the math would make sense. `2.4rem` = `24px`. Cheers.

[2016-01-06 14:05] kof commented on #123
In terms of migration to jss, there will be not much profit to migrate to rem as you will be able to define your root size using the theme even at runtime.

[2016-01-06 18:36] cameronjroe commented on #123
@kof How will it not be useful if it's eventually compiling to CSS? rems are scalable vs pxs are static.

[2016-01-06 18:48] kof commented on #123
well, whats exactly the real life use case for rem?

[2016-01-06 18:50] cameronjroe commented on #123
https://css-tricks.com/theres-more-to-the-css-rem-unit-than-font-sizing/

[2016-01-07 13:18] kof commented on #123
I am still wondering who uses font size of html element to recalc dimensions of rem based elements. For me its document based design. In component based design there should be no such a global thing that can influence everything on the page implicitly.

Especially unclear is why font-size should influence the dimensions.

Having javascript access to all css values we can recalculate all dimensions

[2016-01-07 13:22] kof commented on #123
I am following the ideology that components have to be self contained and ideally nothing should influence them from the outside.

[2016-01-07 16:41] cameronjroe commented on #123
That's a different point from the use of rems entirely. Setting the html font-size for recalc of a rem is merely to understand the related px value for the rem one would be specifying. If you are specifying a rem value in jss, you would be able to cleary see that you'd be setting the equivalent 16px when setting 1.6. Without this recalc on the html element, you would need to compute the ratio base

[2016-01-07 16:44] cameronjroe commented on #123
`rem` unites are based on the global html element.

[2016-01-08 03:27] Tackyshot commented on #112
is there any documentation? because for the life of me I can't seem to find it.

[2016-01-08 04:41] jossmac commented on #112
Sorry @Tackyshot! Just realised that it's undocumented atm.

For handling the grid `col`:
[code]
With `row` only gutter is important

[2016-01-08 14:06] cameronroe opened #125 "<FileUpload /> example"
Is there an example for using the file upload input?

[2016-01-10 22:18] vdh commented on #124
After checking the source code for the Button component, it needs a `submit={true}` attribute to be a submit button. I think the documentation needs an update?

[2016-01-11 01:02] jossmac commented on #124
Documented on http://elemental-ui.com/buttons under the first "usage" heading

[2016-01-11 01:31] vdh commented on #124
@jossmac But the form examples on http://elemental-ui.com/forms show confusing/erroneous use of buttons labelled "Submit" that do not actually submit the form.

[2016-01-11 01:38] cameronjroe commented on #46
+1 the validation section doesn't have a code example

[2016-01-11 01:38] jossmac commented on #124
Correct, that was an intentional decision; often I'll find myself on a UI demo site clicking around testing things and hit a button that submits with `#` dragging you back up to the top of the page.

I'll add the `submit` prop to those examples for clarity :)

[2016-01-11 01:53] jossmac commented on #46
Field validation was never completed, so for the time-being I'll remove the examples from the website to avoid confusion.

We will likely build a `Validate` component to wrap input fields, or possibly a higher-order component that's invoked if a `validate` prop is set on `FormField` where `validate` would be "email, phone, required" etc. or a custom regular expression

Would love a PR on this to g

[2016-01-11 01:57] cameronjroe opened #127 "Flexibility with Validation Input Groups"
Currently, validation for forms is not documented and does not seem to be flexible for a regular text input. For example, `<EmailInputGroup />` seems to be too specific and tied to an email input. Would it make more sense to simply apply validation to the form elements as props. In angular for example, you get a scoped form object that uses children form elements based on their name properties. Fo

[2016-01-11 02:01] jossmac commented on #127
We're on the same page :)

Please see my comment on #46

[2016-01-11 03:59] vdh commented on #53
Could I recommend following Bootstrap's approach and shipping with the compiled CSS for a default fallback?

Even when Bootstrap was only available in LESS (like Elemental currently is), before they added SASS support, they always had the compiled CSS fallback to rely on. Even with their new planned PostCSS support, they'll still have the compiled CSS option.

[2016-01-11 04:02] nkbt commented on #53
with https://github.com/istarkov/babel-plugin-webpack-loaders it is possible to transpile less stylesheets to separate css files if necessary.

[2016-01-11 04:23] vdh commented on #53
@nkbt Could you please clear up this ambiguity, in regards to its CSS styles, is Elemental UI an **opinionated** or **unopinionated** library? Because this back and forth is really impacting productivity.

- If it's **unopinionated**, then it should provide *some* sort of default CSS, and then worry about supporting one or more pre-processor technologies as additional *optional* features.

- If it

[2016-01-11 04:34] nkbt commented on #53
@vdh I am not an author, only contributor.
But as far as I know Elemental was used as part of KeystoneJS internally and has been just recently opensourced. So, to be fair, it is *opinionated* in fact at the moment, but is now being actively developed to become *unopinionated* asap.

JSS, by the way, was decided to be an option to make it *unopinionated*

[2016-01-16 16:35] iam-peekay commented on #74
@nogsmpls I'd love to hear how you went about including elemental in your project. I love the components but am lost on how to use it in my project

[2016-01-16 17:21] NogsMPLS commented on #74
@iam-peekay It should be as simple as adding it in package.json and using/referencing it within your project. i.e.: ```import { Button } from 'elemental';```

One important note is that, currently, you will need a LESS compiler in your build process, and you will need to reference to the ```./node_modules/elemental/less/elemental.less``` file in your project some way so it can get compiled.

Or, a

[2016-01-16 17:24] NogsMPLS commented on #121
FYI, there is an issue for a getting started page for the repo already. I have answered, to the best of my current knowledge, your questions here:

https://github.com/elementalui/elemental/issues/74#issuecomment-172232332

[2016-01-21 09:09] martinwh99 opened #130 "DropBox missing size property"
It would be nice to have the size property in the DropBox.

[2016-01-23 00:41] nikgraf commented on #53
Super interesting discussion! This topic was bugging me since months for [Belle](https://github.com/nikgraf/belle/) as well. Over the last couple days I started to experiment with how a future architecture of a good React UI could look like.

This is what I came up with. In the repo you can find explainations + test implementations for multiple ideas: https://github.com/nikgraf/future-react-ui/

I

[2016-01-23 10:07] kof commented on #53
@nikgraf I was also thinking about it, +1 on all what you said.

[2016-01-23 13:11] kof commented on #53
Added a more detailed answer, lets move this conversation to Niks repository. https://github.com/nikgraf/future-react-ui/issues/1

[2016-02-03 20:12] nathanvog commented on #74
+1

[2016-02-05 21:33] zenorocha commented on #110
+1

[2016-02-08 02:15] cameronroe opened #132 "Thoughts on moving testings into src directory"
It doesn't seem like there's a ton of tests covering the components. Was just curious of what your thoughts would be on moving the tests into the components directory with a `.spec.js` before you started writing more. Ideally you could use [enzyme](https://github.com/airbnb/enzyme) with mocha and just point to `src/**/*.spec.js`. This would keep everything together and it might be easier to see wh

[2016-02-14 17:09] rafeememon opened #133 "Table component doesn't keep Table class when className given"
If `className` is specified for the `Table` component, the default `Table` CSS class is not kept, and it must be passed in manually.  I think the intended behavior here is that the `className` prop should be strictly additional classes.

[2016-02-14 21:02] #133 closed

[2016-02-15 17:06] yi opened #135 "suggest to add a link to the dist build on the front page."
After hours of reading the source code. I found there is already a dist build for take away, nice and easier.

https://github.com/elementalui/elemental-dist

[2016-02-15 23:36] nkbt commented on #135
Hi, @yi
I am afraid standalone build is broken at the moment, there is a ticket https://github.com/elementalui/elemental/issues/118 for that.

[2016-02-15 23:36] nkbt commented on #118
It definitely should include css, not less.

[2016-02-21 18:52] n8sabes commented on #74
:+1:

[2016-02-25 03:35] hackwaly opened #137 "Could pagination use <a> instead of <button>?"
This let user can use contextmenu "Open in newtab" or "Copy link url".

[2016-03-09 10:32] piehouserat opened #138 "blacklist?"
Hey guys,

I'm very new to React and the way it works and was just wondering what is the purpose of using blacklist?

Cheers,
Martin

[2016-03-09 11:01] jossmac commented on #138
Often when creating components in React you want to pass all (or most) props down to a child. When rendering form fields etc. some props often conflict with the node's own `attr`. [blacklist](https://www.npmjs.com/package/blacklist) is a tidy solution for this

[2016-03-09 11:42] piehouserat commented on #138
Thanks for the answer, makes sense :)

[2016-03-09 11:42] #138 closed

[2016-03-10 00:15] HriBB commented on #110
+1 on Nexus7

[2016-03-10 03:31] zenorocha opened #139 "Update octicons"
Right now, elemental uses v3.1.0 while the latest version of octicons is v3.5.0. Can we get this updated?

[2016-03-10 03:54] jossmac commented on #139
Sounds good, would you mind submitting a PR?

[2016-03-10 15:22] cc81 opened #140 "Modal overflow not working correctly with IE11"
When using IE11 it does not properly remove overflow:hidden when closing.

Changing:

`document.body.style.overflow = null;`

to:

`document.body.style.overflow = '';`

seems to fix the problem for IE11 and still work in Chrome and Firefox.

[2016-03-10 22:13] jossmac commented on #140
Well spotted, would you mind submitting a PR?

[2016-03-17 17:06] jeffreypriebe opened #143 "Accordion / Collapse Component"
Any plans to create an accordion / collapse component?
(E.g. [Bootstrap collapse accordion](http://getbootstrap.com/javascript/#collapse-example-accordion))

[2016-03-17 21:41] nkbt commented on #143
Have you tried react-collapse?

On Fri, 18 Mar 2016 at 4:07 AM, Jeffrey Priebe <notifications@github.com>
wrote:

[2016-03-18 03:42] jeffreypriebe commented on #143
Sure haven't. Is the developer any good? ;)

I'm more thinking something in the elemental-ui style, not simply a react-based collapse.

[2016-03-18 12:17] nkbt commented on #143
`react-collapse` is a `base`-sort of component. It has no extras. You can create some styled accordion and make a PR here to elemental-ui ;)

[2016-03-19 18:26] jeffreypriebe commented on #143
Normally, I'd just submit a PR here, but I don't have the time currently, and was just wondering what their plan was. Still wondering...

[2016-03-19 20:06] nkbt commented on #143
If we get to implementing something like that for our project it will
definitely land here. I am not very keen on creating libs that I do not use
personally - that way does not really work well. Maybe someone else is
interested in landing this feature?

PS: bear in mind I am talking just as a random contributor here, not from
the position of elemental-ui team.
On Sun, 20 Mar 2016 at 5:26 AM, Jeffr

[2016-03-25 17:06] tzvigqb opened #148 "FormSelect arrows height issue"
Using the form components exactly as shown in the docs, the arrows are not vertically aligned, as shown below. The arrows span get their height from line-height, which does not seem to be taking affect here. Nothing is being overrode in the styles in devtools. Any ideas?
![forminput](https://cloud.githubusercontent.com/assets/8038821/14049194/eea96b3e-f289-11e5-88b2-5b08205bafff.jpg)

[2016-03-30 08:41] wmertens commented on #53
Can somebody give an elevator-ride-length summary of this issue? It seems very interesting but not sure what the consensus is currently

[2016-04-01 15:10] Guria commented on #89
have you looked at bem-specific helper tools?
https://github.com/albburtsev/bem-cn
react-bem-helper
bem-classnames
react-bem
b_

[2016-04-19 15:55] jacargentina commented on #139
@jossmac My PR #146 was just that (updating octicons to 3.5.0) but it was rejected by @mxstbr

I would love that rejection to be undone, and update octicons.

[2016-04-19 21:50] mxstbr commented on #139
We can't merge the octicons update I'm afraid, see https://github.com/keystonejs/keystone/pull/2508#issuecomment-200651590.

[2016-04-19 21:50] #139 closed

[2016-04-19 23:52] jossmac commented on #139
@jacargentina octicons don't follow semver - @mxstbr rejected the PR at my request. Sorry mate, but we can't have icons suddenly disappearing from consumer's apps and websites.

[2016-04-22 15:48] kof commented on #53
I think the right way to go for a UI lib is to stay CSS implementation agnostic. I think the theme should __not__ be part of the ui library, but an option. Thats why I have created this very rough spec: I know it is too abstract right now.  Please send me pull requests to make the spec better.

Once I have some amount of feedbacks, we can try to implement it here.

[2016-04-22 15:50] kof commented on #53
I think the right way to go for a UI lib is to stay CSS implementation agnostic. I think the theme should __not__ be part of the ui library, but an option. Thats why I have created this very rough [spec](https://github.com/kof/theme-standard). I know it is too abstract right now.  Please send me pull requests to make it better.

Once I have some amount of feedbacks, we can try to implement it here

[2016-04-23 10:18] kof commented on #53
Here we go, first step towards better components:

https://github.com/elementalui/elemental/pull/150

[2016-05-01 13:16] purezen opened #151 "Unable to use UI elements"
Hi, I am making a React app and want to use elemental for the ui part.
The `Col` and `Row` elements are working fine, but when I try to use any UI element like `Alert` or `Card` or `Pill`, they miss their styling completely.
For example when I use a `Pill`, I can only see a button.

[2016-05-01 17:53] zsherman commented on #110
+1

[2016-05-02 21:11] cameronroe opened #152 "Modeling APIs after jQuery UI widgets"
http://devdocs.io/jqueryui-widgets/

Rather than re-inventing the wheel, jQuery UI has a number of widgets that are built with 3 things:
1. options
2. methods
3. events

Obviously, not everything will transfer over because React makes things a lot easier, but I think it could be beneficial to examine some of these widgets for their naming. For example, they have a autocomplete widget with certain

[2016-05-16 20:16] DarrylD commented on #151
+1. Having the same issue

[2016-05-18 14:19] purezen commented on #151
@DarrylD it's because you have not included the styling (less) file in your code. Just import the less file in your root app file using
`import '../node_modules/elemental/less/elemental.less'`

and add this in your webpack config
[code]

[2016-05-18 14:19] #151 closed

[2016-05-20 21:11] jacksonrayhamilton opened #154 "FileUpload assumes uploading an image"
It looks like the `FileUpload` component assumes that I will upload an image, because it tries to display what I upload as a data URI. But it's possible I will upload something that cannot be represented by an `<img>` element, so I think it should be possible to disable this behavior. Or, maybe the component should figure out whether the uploaded thing can be displayed. Or, maybe it should be poss

[2016-05-24 16:00] jacksonrayhamilton opened #156 "FileUpload event should be persisted"
In the FileUpload `handleChange` method, the "event" object (`e`) is [referenced asynchronously](https://github.com/elementalui/elemental/blob/40619acebdd8aeccbf8adfcefe6c276f6bb73bb3/src/components/FileUpload.js#L55). But, per [React's documentation](https://github.com/facebook/react/blob/fef495942a1cf7d507c816192fde205b6003df05/docs/docs/ref-05-events.md#event-pooling),

If `event.persist()` is

[2016-05-28 09:00] GabiAxel commented on #130
I submitted #158 for this

[2016-06-06 18:04] dcaillibaud opened #159 "backdropClosesModal doesn't seems to close the modal"
Hi,

I understand that the backdropClosesModal prop should close modal on click outside the modal, but it doesn't seem to do so in your live demo on http://elemental-ui.com/modal, so I'm wondering if I misunderstand it or if it's a bug…

Thanks

[2016-06-08 05:29] thinkholic opened #160 "react-storybook support"
HI, I'm hoping to add react-storybook support for elemental-ui components and send a PR.
Please let me know what you guys think?

https://github.com/kadirahq/react-storybook

[2016-06-08 06:11] mxstbr commented on #160
I'd much rather use Carte Blanche :wink: https://github.com/carteb/carte-blanche

[2016-06-29 09:36] purezen commented on #159
Yeah, it is not working for me in the app too.

[2016-06-29 22:38] purezen opened #161 "What is the state of mobile support for browsers?"
Hi,

I have been using the library in my app lately. However it looks like browsers on mobile are not supported atm.
You can check out my app at - [link](https://purezen.github.io/story-app).
Works fine on the desktop browser but I expected it to scale accordingly while accessing from mobile.

What is the current state regarding this?

Thanks for the amazing library!

[2016-07-08 12:25] purezen opened #162 "Need help using the library"
Hi,

Thanks for the amazing library! It has helped me get started with my personal project at [link](https://purezen.github.io/story-app).

However, I have been facing a couple of issues with it:
- The webapp currently doesn't scale for mobile devices.
  I.e. it scales fine on the desktop but when I access the site in a mobile browser.. I see the same page.
- I am unable to use the full-page Spinn

[2016-07-08 16:29] Garretttaco commented on #162
@purezen This sounds like it is not an issue with the library. This is a feature that a specific meta tag adds.Here is the tag. Place this in the head of your index file `<meta name="viewport" content="width=device-width, initial-scale=1">`

Hope this helps!

[2016-07-10 21:04] purezen commented on #162
@Garretttaco Hey, thanks there. I used the meta tag in my app and now it does indeed scale for mobile devices!
Thanks there 👍

Right now the `Spinner` still appears at the top-left corner of the page when I use it. I would like to get it in the middle of the app while being compatible on mobile devices. What would be the recommended way to achieve that?

[2016-07-18 08:44] SyncroIT opened #164 "Improve the documentation"
Hi, I've found Elemental a very good UI framework for react, but I wanna ask 2 things I believe that could be improved:

1) The documentation: can you improve it and make a documentation for the installation and a reference for every element? Thanks.

2) Can you create Flow declarations for every class/element/etc used in Elemental?

For the second point I'll try to create them and in case I publi

[2016-07-20 10:43] rntdrts commented on #159
+1

[2016-07-21 11:35] wmertens opened #165 "autoFocus prop has wrong capitalization vs React"
All through the code, `autofocus` is used, however React writes it as `autoFocus`, and that causes mistakes. Please use the more common `autoFocus` spelling.

See also #95 which partially fixes it (slightly breaking the API in the process).

[2016-07-22 15:49] wmertens opened #167 "Number input"
It would be good if `FormInput` could handle numeric input. Caveat: The number needs to be parsed with the browser locale.

It's not enough to simply send the change events through a `Number()` call, because then you can't type "12.3", because the dot would be stripped when you type it.

`FormInput` should accept a `number` type, and provide `onChange` events with the value as a Number.

[2016-07-24 20:08] xpluscal commented on #118
+1

[2016-07-25 14:50] wmertens opened #168 "Input mask supp"

[2016-07-25 16:47] wmertens commented on #165
In fact, since the components just pass other props, `autoFocus` already works on everything. So you can just deprecate `autofocus` and turn it into `autoFocus` props.

[2016-07-25 17:31] #90 closed

[2016-07-25 19:50] wmertens opened #170 "Add a .el attribute on the elements?"
In React 15 you don't need to use findDOMNode on refs that are DOM nodes. To make it easier to use Elemental UI component DOM methods, how about adding a `.el` that is the main DOM component? All that would be needed is `ref: function (el) { this.el = el; }`.

[2016-07-26 03:08] #165 closed

[2016-07-26 07:01] wmertens commented on #165
Note that the this.focus() calls on componentDidMount are now not
necessary, React does that if you pass the autoFocus prop to the component.

On Tue, Jul 26, 2016, 5:08 AM Jed Watson <notifications@github.com> wrote:

[2016-07-26 13:03] istok20 opened #171 "how to install and run?"
installed with npm, added
`import { Button, Alert, Spinner } from 'elemental'`
to my react project, trying to build and get this:

What's the issue about?

[2016-07-26 13:16] istok20 commented on #171
installed, react-addons-css-transition-group :)

[2016-07-26 13:16] #171 closed

[2016-07-28 18:08] mondaychen opened #173 "Performance improvements"
Hi Elemental-UI members,

Do you have a plan to improve the performance of the components?

I'm trying to rebuild my company's UI system based on elemental-ui. However, to be used in a big product, the basic components must have good performance. As far as I could tell, currently elemental-ui components are not optimized by any means.

A simple way to do it is to add a `shouldComponentUpdate` meth

[2016-07-28 18:21] mondaychen commented on #173
A related issue: https://github.com/elementalui/elemental/issues/46

The validation process is actually not slow. It's slow because the whole page is re-rendered when the state (value of the input fields) changes.

[2016-08-26 18:47] mksarge commented on #125
*bump*

[2016-08-31 07:30] kuy opened #177 "Disabled option tag in FormSelect component"
I'm using `FormSelect` component in my app, but I can't find props to disable the last option.
Here is an example code what I want to do.

[code]

Is there anyone working on this? If not, I'd like to tackle.

[2016-09-05 00:35] jossmac commented on #177
@kuy good catch! PR would be appreciated :)

[2016-09-13 08:05] kuy commented on #177
@jossmac Thanks for merging! I'll one more PR for updating documentation.

[2016-09-13 08:05] #177 closed

[2016-09-14 02:26] kuy commented on #148
@tzvigqb Do you have gist snippet or reproducible code?

[2016-09-14 14:36] stefansvard opened #180 "Use props.file in FileUpload"
Hi!

As far as I can see (in FileUpload.js)
propTypes: {
		buttonLabelChange: React.PropTypes.string,
		buttonLabelInitial: React.PropTypes.string,
		disabled: React.PropTypes.bool,
		file: React.PropTypes.object,
		onChange: React.PropTypes.func
	}
file can be sent in as props.

but in render there is no connection to this props but only to the file set in the components state.

So e.g. if user u

[2016-09-14 22:47] cwmacdon commented on #159
I've made a PR #181 to fix this issue.

[2016-09-15 11:51] chexers commented on #177
Eereerrreeeeeeeeeeeeeeeeereeeeeeereeee
On Sep 13, 2016 1:05 AM, "Yuki Kodama" <notifications@github.com> wrote:

documentation.eeeeeeeeeeereeerreeeeeereeeeeeeeeeeeeeeeeeeereeeeeeeeeeeeeeeeeereeeeeeeeeeeereeeeeeeeeeeeeeeeeeeeereE

[2016-09-15 11:51] chexers commented on #177
Eereerrreeeeeeeeeeeeeeeeereeeeeeereeee
On Sep 13, 2016 1:05 AM, "Yuki Kodama" <notifications@github.com> wrote:

documentation.eeeeeeeeeeereeerreeeeeereeeeeeeeeeeeeeeeeeeereeeeeeeeeeeeeeeeeereeeeeeeeeeeereeeeeeeeeeeeeeeeeeeeereE

[2016-09-15 23:31] jossmac commented on #177
@chexers are you okay? It looks like you passed out on your keyboard...

[2016-09-19 07:48] benjaminleouzon opened #182 "Labels on Pagination"
Hi!
Labels such as "Showing .. to .. of", "No", "Records" are hard coded.
May we hope to have these configurables (for internationalization)?

BR.
ben

PS: great lib btw

[2016-09-20 10:40] HuangHonghui opened #183 "'type' section write twice in spinner.less"
https://github.com/elementalui/elemental/blob/master/less/components/Spinner.less#L47

[2016-09-20 12:26] kapooostin opened #184 "Modal breakes data flow for Redux"
Redux `connect()` fails to find `store` for a container element if it is rendered inside `<Modal>` component.

[2016-09-20 12:39] jossmac commented on #184
Could be an issue with `context` not being passed through because of the `<Portal />`, which wraps the Modal component.

You may need to explicitly pass the context - check out http://stackoverflow.com/a/30372606/2305750

[2016-09-20 14:01] kapooostin commented on #184
Yes, it is an issue with `context`. My first attempt to add wrapping component to pass parent context failed. But passing `store` as a prop did help.

[2016-09-20 15:28] kapooostin commented on #184
Well, actually I did exactly what was suggested on OS. At first I decided that I should wrap `<Modal>` and this didn't work. But if I restore `context` for **contents** of `<Modal>` by wrapping it in a component that sets its children context from a passed prop, everything seems to be OK.

[code]

[2016-09-20 15:28] #184 closed

[2016-09-24 17:03] kapooostin commented on #125
https://github.com/elementalui/elemental/blob/master/site/src/pages/Forms.js#L828

[2016-09-26 14:12] benjaminleouzon commented on #182
nice.
When will you release this?

[2016-09-30 15:44] aberg-bit9 commented on #110
+1

[2016-10-31 05:25] cameronroe commented on #46
I added this PR a while ago #128. It adds a "validity" prop that adds a class for validation. It has a few pieces left, but could be a good start.

[2016-11-14 11:58] tbillington opened #187 "Bug in install guide on home page."
On https://elemental-ui.com/home there in an instruction to compile the styles if your project will not have a less compiler. The instruction says

[code]

However, this fails with:

[code]

To remedy, `less-plugin-clean-css` must also be installed.

[code]

Now the previous compile command will succeed.

[2016-11-19 17:45] SergioCrisostomo commented on #53
I thought I could pin the talk @mxstbr gave on [Styling React.JS applications](https://www.youtube.com/watch?v=19gqsBc_Cx0) and is related to this very interesting thread.

Followup question: any decisions have been taken to move forward on the styling of elemental-ui components?

[2016-11-19 17:56] mxstbr commented on #53
I'm one of the maintainers of ElementalUI (core maintainer of KeystoneJS), and we actually wrote `styled-components` for this very reason – no other styling in JS solution had what we wanted!

We've started rewriting ElementalUI in `styled-components` over at KeystoneJS, and will push the new version upstream as soon as we have something releasable. (will probably be a few weeks)

[2016-11-21 18:30] fredericksilva commented on #130
Close this issue!  @GabiAxel  @martinwh99

[2016-11-21 22:25] jossmac commented on #130
Resolved by #158

[2016-11-21 22:25] #130 closed

[2016-11-28 09:12] Evanion opened #190 "Proposal for component name changes (semantical improvements)"
I was pleasantly surprised to see that your grid system was not following the same old table inspired structure that most UIKits does.

But I would make a semantical change in your grid system to reinforce this, and avoid developers implementing it in a wrong way.

Rename `<Row />` to `<Grid />`
I would also add the ability to set a default value for the Columns in the wrapping `<Grid />` componen

[2016-11-29 07:17] #183 closed

[2016-12-08 15:54] atralice opened #191 "FormSelect onChange"
In the FormSelect, when invoking the handleChange event, its passing the `e.target.value` instead of the _event_ itself.
[code]

Wouldn't it better to just pass the entire _event_?

[code]

Thanks.

[2016-12-12 16:19] mroswald commented on #191
I ran into the same issue, would be better imo

[2016-12-16 20:36] IvanJov commented on #191
Same here, I agree! Let's just wait for someone to confirm this issue, I can submit PR if you want. But also, this might break some apps too :)

[2016-12-17 03:28] jossmac commented on #191
@IvanJov agreed, this will break any app using the `FormSelect` component.

@JedWatson @mxstbr Would need a major version bump -- might be a good opportunity to make some other breaking changes.

[2017-01-15 17:12] agutierrezcu opened #192 "Error: Cannot resolve module 'react-addons-css-transition-group'"
I've added elemental to my react based project. After create a simple form using its handy components I got the error below when i build the application using webpack:

**ERROR in .//elemental/lib/components/Dropdown.js
Module not found: Error: Cannot resolve module 'react-addons-css-transition-group' in C:\_D\Armando\_Work\github-agutierrezcu\WeatherApp\node_modules\elemental\lib\components
 @ ./

[2017-01-18 19:22] clschnei commented on #191
Is there any value in passing `e` as a 2nd param of `onChange` in the short-term (unless there's already a major version bump in progress).

[2017-01-27 10:04] wlalele commented on #192
+1

[2017-01-30 11:10] sktt commented on #192
I think this is intentional to avoid running two versions of the dependency in the same project.

https://stackoverflow.com/questions/26737819/why-use-peer-dependencies-in-npm-for-plugins

Cheers

[2017-01-31 10:23] agutierrezcu commented on #192
Thanks @sktt for shares the link!

I think I got it! ;)

[2017-01-31 10:23] #192 closed

[2017-02-09 23:57] DenisIzmaylov commented on #53
@mxstbr What do `styled-components` have as a key benefits against of `jss`?

[2017-02-10 18:05] DenisIzmaylov commented on #123
Be aware, `rem` units will block you to get pixel-perfect markup.

[2017-02-12 18:59] tomasvarg commented on #53
@mxstbr I'm considering using ElementalUI now so obvious question for me is: will the new version with `styled-components` be interchangeable with what we've got now or will there be some breaking changes?

[2017-02-12 19:56] tomasvarg commented on #107
I confirm this behavior on Chrome/Chromium & Firefox, Linux & Win 10; seems like it was tested only on one browser. Another issue is it displays two scrollbars at one moment (as can be seen on the gif).  Probably caused by a hacky usage of modal's wrapper element.

[2017-02-13 19:20] LrsK commented on #87
Any movement on this? If not, what is a workaround here? Using one handler function for each select?

[2017-02-13 20:19] 1i7 opened #193 "Disabled state for button?"
Hello, is it possible to set disabled state for button? Would be nice to add if not.

[2017-02-13 20:37] 1i7 commented on #193
Ah, I should have tried to set disabled={true}, it worked

[code]

[2017-02-13 20:37] #193 closed

[2017-03-02 13:40] hl-a-k opened #194 "How to use context inside a modal?"
I put a redux form in an Elemental Modal:
`<Modal isOpen={modalIsOpen} backdropClosesModal>
        <TradeForm1 onSubmit={this.handleSubmit} />
      </Modal>`
get an error:
browser.js:40 Uncaught Invariant Violation: Could not find "store" in either the context or props of "Connect(Form(TradeForm))". Either wrap the root component in a <Provider>, or explicitly pass "store" as a prop to "Connect(

[2017-03-02 14:12] jossmac commented on #194
Hi @hl-a-k,

Thanks for using Elemental!

This is one of the problems with using `context` I'm afraid. Our modal component uses a "portal" ([great explanation + code on StackOverflow](http://stackoverflow.com/a/28823590/2305750)) allowing it to be rendered outside of its parent, in our case as the last element before close of body.

Unfortunately this takes it out of React's parent --> child relat

[2017-03-02 16:02] hl-a-k commented on #194
I copied PassContext into my project:
`
class PassContext extends React.Component {
  getChildContext () {
    return this.props.context;
  }
  render () {
    return Children.only(this.props.children);
  }
};
PassContext.propTypes = {
  context: PropTypes.object.isRequired,
};
`
but I got another error:
`Uncaught Invariant Violation: PassContext.getChildContext(): childContextTypes must be define

[2017-03-02 16:10] jossmac commented on #194
@hl-a-k sorry mate, got caught up in the theme implementation of that codebase. You _will_ have to define the `childContextTypes` that redux form is expecting.

[2017-03-03 08:21] hl-a-k commented on #194
I did some change:
` <PassContext context={this._reactInternalInstance._context}>
        <ContactForm1 onSubmit={this.handleSubmit} />
        </PassContext>`
`PassContext.childContextTypes = {
  store: PropTypes.object,
  storeSubscription: PropTypes.object,
  "@@contextSubscriber/router": PropTypes.object,
  "router":PropTypes.object,
};`

then the form can work in the Modal

[2017-03-03 08:44] jossmac commented on #194
Great!

[2017-03-03 08:44] #194 closed

[2017-03-06 17:52] annarichardson opened #195 "FormSelect values can be object"
It would be nice is FormSelect values could be objects and not just strings (i.e. instead of this `{ label: 'Cooking', value: 'cooking' }`, be able to `{ label: 'Cooking', value: {name: 'cooking', id: 3 }}`. You are able to do this for the dropdown menu

[2017-03-06 19:17] clschnei commented on #195
This is because the underlying DOM is using `<select>` elements [and just returning the element value](https://github.com/elementalui/elemental/blob/master/src/components/FormSelect.js#L122-L124). `<Dropdown>` is using `<li>`'s with [values bound to the callback](https://github.com/elementalui/elemental/blob/master/src/components/Dropdown.js#L90-L92).

This desired effect should be able to be achi

[2017-03-08 04:01] ShashankaNataraj opened #196 "Dropdown flicker"
[The buttons section ](**http://elemental-ui.com/buttons**) in the docs has a dropdown section. Clicking on the default trigger and then dismissing it by clicking somewhere else causes the dropdown shown to flicker and then dismiss itself.

[2017-03-08 09:02] Fasani commented on #191
[code]

How do people keep track of dynamically created FormSelects? My other inputs cant work like so:

[code]

Any suggestions?

[2017-03-08 09:26] Fasani commented on #191
If anyone is interested I hacked this in such a way... I just created non dynamic listeners for my 3 drop downs... :-(

[code]

[2017-03-08 16:40] clschnei commented on #196
Can you reproduce and post gif/video link?

[2017-04-05 00:16] yaxinn opened #197 "disabled option feature not published"
I saw that 'disabled' prop options for FormSelect has been added. (i.e.: https://github.com/elementalui/elemental/commit/3522015341406549e115520121c455757ffaf8b8)
Will we get a new publish on those features soon?

[2017-04-06 11:09] kvolkovich-sc opened #198 "New examples page proposal"
Hello! =)

![showroom-demo](https://raw.githubusercontent.com/OpusCapitaBES/js-react-showroom-client/93f035a18e6c35de46bfca299a32708ce9e52c1e/docs/demo.gif)

Recently we release first public version of this project.

https://github.com/OpusCapitaBES/js-react-showroom-client

It allows to write documentation in markdown and run all docs in sandbox with code examples.
It often useful to have possibi

[2017-04-23 13:51] jeremyjones313 opened #199 "Multiple errors in console using react@15.5.4; React.createClass deprecated; Accesing PropTypes"
Warning: ElementalAlert: React.createClass is deprecated and will be removed in version 16.

Accessing PropTypes via the main React package is deprecated.

I would like to know your plans to upgrade your code to address these issues. I am very interested in using your components but am concerned they will prohibit me from keeping React up to date.

If you are already planning to address these issu

[2017-05-14 17:09] wookiem opened #200 "Support for React v16"
Is there a dev branch that supports React v16 (currently alpha v6)?

Current releases of elemental have a dependency on react-addons-css-transition-group which is deprecated in React v16 in favor of react-transition-group.

The required changes are very minor, but they are breaking changes with React v15:

[code]

It looks like impacts only Dropdown.js and Modal.js.

[2017-05-21 00:15] wookiem opened #201 "Is elementalui framework still active?"
It doesn't seem like there has been much activity in quite a while...

[2017-05-28 21:39] sdaitzman opened #202 "There are more than two genders"
http://elemental-ui.com/css
<img width="795" alt="screen shot 2017-05-28 at 5 38 52 pm" src="https://cloud.githubusercontent.com/assets/1499476/26532364/8c049752-43cc-11e7-940c-27a2020e0f44.png">

[2017-05-31 11:33] jossmac commented on #202
I suppose you're referring to people who identify as a different gender to that which they were born.

That's true. It's also true that there are millions of better ways to address that than a snarky issue on an OSS project.

All the best,
jossmac

[2017-05-31 12:51] jossmac commented on #202
@sdaitzman on a personal note:

There was likely an event (or many) that lead you to create this issue. I hope you're doing okay.

Best,
jossmac

[2017-05-31 14:22] thejameskyle commented on #202
I've updated the table to be representative of more genders, and added a [code of conduct](https://github.com/elementalui/elemental/blob/master/code-of-conduct.md) with a contact email (james.kyle@thinkmill.com.au) to this repository so that it is available in the future. Thank you for raising this @sdaitzman

<img width="785" alt="screen shot 2017-05-31 at 7 19 03 am" src="https://cloud.githubuse

[2017-05-31 14:22] #202 closed

[2017-05-31 14:45] JedWatson commented on #202
Thanks @thejameskyle for jumping in and addressing this.

@sdaitzman, I've removed earlier comments because I don't believe they came across the right way or represent the values of our team including the person who made them. Recognising diversity is an important issue in our industry and we're happy to help promote it.

[2017-06-01 17:48] sdaitzman commented on #202
@JedWatson wow, thank you... I was going to write a response to the original comment, because I genuinely did not mean to be snarky. If any of the previous commenters want to discuss this more with me or do not understand why representation like this is important, I would be happy to talk more.

[2017-06-26 20:21] Pykmi commented on #201
That's a great shame. Found this when googling and it looked very promising.

[2017-06-27 01:06] thejameskyle commented on #201
Yes, there are still lots of plans for elemental and it will continue to work for you as is.

As a maintainer of lots of open source projects, please do not open issues like this.

[2017-06-27 01:06] #201 closed

[2017-07-14 08:00] WrenchDE opened #203 "v-for (el-form-item), rules 只有显示 但收不回去"

[2017-07-14 08:02] #203 closed

[2017-07-14 08:02] WrenchDE commented on #203
来错 地方了  了

[2017-07-21 20:53] chantastic commented on #53
Is this discussion still active or is it a place to be closed?

[2017-08-29 03:08] dadocolussi commented on #196
Here is a video: [dropdown-flicker.mov.zip](https://github.com/elementalui/elemental/files/1259000/dropdown-flicker.mov.zip)

[2017-09-07 23:53] LMS007 opened #204 "<Modal> animation tends to flicker after closing"
http://elemental-ui.com/modal

It does not happen after each time, but seems to be about 50% of the time. It flashes dark and then light again which causes a really unpleasant UX.

I'm running Chrome v60

[2017-09-08 00:16] LMS007 commented on #204
The issue specifically might be related to Modal.js

[code]

The `transitionLeaveTimeout` value seems to be causing the issue. Lowering the value slightly seems to fix it. I think we need to ensure that the CSS animations finish otherwise these flicker side effects may occur?

The `Modal-background-leave" css class also has a `animation-duration` of 240ms. I'm guessing if these are not perfectly i

[2017-09-08 15:21] jossmac commented on #204
Replacing the animation with a transition will resolve the issue, if anyone would like to pick this up.

https://github.com/elementalui/elemental/blob/master/less/components/Modal.less#L50

[2017-09-08 18:21] LMS007 opened #205 "<Modal> this.props.backdropClosesModal is ignored"
An onClick event on the backdrop **&lt;div&gt;** does not close modal even when the prop `backdropClosesModal` is `true`

Observe the `true` value in the watch (right side)

link: http://elemental-ui.com/modal

![screen shot 2017-09-08 at 11 19 24 am](https://user-images.githubusercontent.com/3939074/30225582-d4232dbc-9487-11e7-8422-d82254afcbc5.png)

[2017-09-09 02:59] jossmac commented on #200
@wookiem would love a PR for this 🙂

[2017-09-09 03:00] jossmac commented on #199
Related to #200

@jeremyjones313 Would love a PR for this

[2017-09-09 03:02] jossmac commented on #198
@kvolkovich-sc looks awesome, could you create a branch with one of the pages implemented?

[2017-09-09 03:05] jossmac commented on #197
@yaxinn if a feature is on the website, it's published to npm

[2017-09-09 03:05] #197 closed

[2017-09-09 03:06] jossmac commented on #196
Related to #204

[2017-09-09 03:14] #204 closed

[2017-09-09 03:14] #205 closed

[2017-09-09 03:22] #196 closed

[2017-09-09 03:26] jossmac commented on #190
Sounds good @Evanion

How do you propose the `<Col />` inherit its size; via `context` or `cloneElement`?

Would love a PR for this 🙂

[2017-09-09 03:30] jossmac commented on #195
@annarichardson thanks for contributing

This API is by design. You can derive the id via another method

[2017-09-09 03:30] #195 closed

[2017-09-09 03:35] jossmac commented on #191
Proposed API for simplicity, return an object with the event and value:

[code]

@atralice @mroswald @clschnei @IvanJov @Fasani would love some feedback on this!

Cheers 🙂

[2017-09-09 03:43] jossmac commented on #187
Resolved by #189

[2017-09-09 03:43] #187 closed

[2017-09-09 03:52] #182 closed

[2017-09-09 03:53] jossmac commented on #180
Sounds good!

Any chance we can get a PR on this @stefansvard?

[2017-09-09 03:57] jossmac commented on #173
@mondaychen thanks for your contribution.

Might it be easier to implement [`PureComponent`](https://facebook.github.io/react/docs/react-api.html#react.purecomponent) rather than `shouldComponentUpdate`?

Any chance we could get a PR for this?

[2017-09-09 04:00] jossmac commented on #167
@wmertens would love a PR for this 🙂

[2017-09-09 04:02] #162 closed

[2017-09-09 04:04] jossmac commented on #161
@purezen this may be related to #162, specifically [this comment](https://github.com/elementalui/elemental/issues/162#issuecomment-231406826).

Could you check it out and report?

[2017-09-09 04:06] jossmac commented on #159
I'm sorry for the inconvenience @dcaillibaud @purezen  @rntdrts -- should have caught this sooner.

Resolved by #206

[2017-09-09 04:06] #159 closed

[2017-09-09 04:07] jossmac commented on #156
@jacksonrayhamilton thanks for raising this issue. Would you mind investigating, and potentially creating a PR?

[2017-09-09 04:13] jossmac commented on #86
@sqrtroot we'll likely implement [flow](https://flow.org/) at some point.

[2017-09-09 04:13] #86 closed

[2017-09-09 04:14] #125 closed

[2017-09-09 04:14] jossmac commented on #137
@hackwaly sounds good!

I'd like to support both; could you create a PR for this?

[2017-09-09 04:20] jossmac commented on #154
FileUpload was a proof of concept I'm afraid. Would love a PR to clean it up if you're interested?

[2017-09-09 04:20] #154 closed

[2017-09-09 04:20] jossmac commented on #152
@cameronroe interesting idea, not really on the roadmap though, i'm afraid.

[2017-09-09 04:20] #152 closed

[2017-09-09 04:21] jossmac commented on #148
@tzvigqb please provide reproducible example and browser information. Will re-open when applicable.

[2017-09-09 04:21] #148 closed

[2017-09-09 04:23] #140 closed

[2017-09-09 04:24] jossmac commented on #143
@jeffreypriebe please bump this issue if you're still interesting in submitting a PR 🙂

[2017-09-09 04:24] #143 closed

[2017-09-09 04:26] jossmac commented on #132
@cameronroe Enzyme would be perfect for this project. Unfortunately we're time-poor atm.

Please bump this issue if you're interested in submitting a PR 🙂

[2017-09-09 04:26] #132 closed

[2017-09-09 04:29] jossmac commented on #74
Getting Started info available on the [home page](https://github.com/elementalui/elemental/blob/373ac350a3c9e96b704a078fcf90d92a3a79910f/site/src/pages/Home.js#L62)

[2017-09-09 04:29] #74 closed

[2017-09-09 04:29] jossmac commented on #121
Resolved by #153

[2017-09-09 04:29] #121 closed

[2017-09-09 04:30] jossmac commented on #110
Resolved by #207

[2017-09-09 04:30] #110 closed

[2017-09-09 04:31] #112 closed

[2017-09-09 04:35] jossmac commented on #107
@slider23 nice catch! @tomasvarg. Thanks for the browser information.

[2017-09-09 04:36] #107 closed

[2017-09-09 04:38] jossmac commented on #105
@lwansbrough thanks for raising this. Elemental will likely receive a major overhaul soon, which makes it tricky to spend time on this sort of thing.

For now I recommend creating a component in your repo that renders Elemental's `Container` with the values you desire.

[2017-09-09 04:38] #105 closed

[2017-09-09 04:40] #89 closed

[2017-09-09 05:09] jacksonrayhamilton commented on #156
Sorry @jossmac, but I will not at this time, as I'm no longer using this library.

[2017-09-09 06:11] Fasani commented on #191
As @clschnei said, If we pass the event as the second object then it won't break for people who update without knowing there is a breaking change.

My personal preference is to allow the breaking change. Edit the API docs and sleep better knowing we made the right choice.

I don't think many developers update libs unless they really need or want to. I have been on projects with versions of libs fr

[2017-09-09 13:53] jossmac commented on #191
@Fasani thank you for your feedback.

We could release a minor version with the event as the second argument, and a major with the proposed API. I think this would cover everyone?

[2017-09-10 08:57] jossmac commented on #156
No worries, thanks for getting back to me.

[2017-09-10 08:57] #156 closed

[2017-09-10 16:35] atralice commented on #191
Sounds good to me!

[2017-09-10 16:48] clschnei commented on #191
@jossmac I like the idea of a minor/major release path. Hold true with sem-ver and everyone's happy.

[2017-09-11 16:33] mondaychen commented on #173
Of course, `PureComponent` will be easier. But it was not there yet when I created this issue :)

According to [this tweet](https://twitter.com/reactjs/status/759099486513704961?lang=en), it was shipped with v15.3.0. Do you plan to drop support for older version React, or maybe we can use a polyfill for it?

[2017-09-13 19:18] clschnei commented on #164
Is there a separate ticket for updating the `contribute.md`? Or should that be captured here?

[2017-09-13 22:47] jossmac commented on #173
Haha fair enough. Yeah, I think it's time this project was updated -- it'd be a bump to major, we wouldn't force `>= 15.x` on consumers.

[2017-09-13 22:56] jossmac opened #208 "Create contribution.md"
Create `CONTRIBUTION.md`

[2017-09-13 22:56] jossmac commented on #164
@clschnei thanks for the heads up. I've created #208

[2017-09-16 12:59] jossmac commented on #59
Resolved by 8e05148

[2017-09-16 12:59] #59 closed

[2017-09-16 13:01] jossmac commented on #69
Unrelated to Elemental UI

[2017-09-16 13:01] #69 closed

[2017-09-18 19:12] clschnei commented on #208
Slightly related, @jossmac, do you guys have a roadmap planned for the repo? Since there's been a lot more recent activity, it would be need to see any plans are and how contributors can help.

[2017-09-21 09:39] jossmac opened #210 "Create a Roadmap document"
Create ROADMAP.md

[2017-09-21 09:39] jossmac commented on #208
@clschnei #210

[2017-09-22 22:54] jonathanwmaddison opened #211 "Dropdown item onClick not firing when clicked"
I'm passing down an array of items to a Dropdown component and for each I'm defining the value as a function. However, the onClick event doesn't get called when I click the item. I found that if I made a small adjustment to line 105 of Dropdown Component it works:

**Current implementation:**
`
{ className: 'Dropdown-menu__action', onClick: self.onClick.bind(self, item.value) },

`

**Working Impl

[2017-09-25 01:56] jossmac commented on #211
@jonathanwmaddison thanks for raising the issue. Is it related to #191?

[2017-09-25 03:09] clschnei commented on #211
Can you paste a snippet of your component usage/implementation? This sounds like a `props` mix-up to me.

[2017-09-25 12:45] jonathanwmaddison commented on #211
@jossmac I don't think so. I think this is related to either how I'm passing in the props or an issue with how the prop is being bound to the onClick event.

@clschnei Here you go:

`    const downloadDropdown =[{
        title: 'download-resume',
        class: 'dropdown',
        text: 'Word .doc',
        value: ()=> this.toggleResumeModal(),
        label: ['Microsoft Word']
      },
      {

[2017-09-25 14:42] clschnei commented on #211
This definitely not a bug. So we can probably close this ticket.

But to resolve your issue @jonathanwmaddison, you have two problems:

1. You need to add an [`onSelect` prop](https://github.com/elementalui/elemental/blob/master/src/components/Dropdown.js#L22) to alert the parent component that a value has been selected.
2. Now you can either:
   * call the function in your parent callback handler

[2017-09-25 15:33] jonathanwmaddison commented on #211
@clschnei Thank you for the suggestions and for looking at my code. Hopefully this will help other coders with the same problem, and missed how to do this.

[2017-09-26 14:03] tkrotoff commented on #94
FYI
- material-ui has `inputRef` on all its components, see https://github.com/callemall/material-ui/blob/v1.0.0-beta.12/src/Input/Input.js#L255 and https://github.com/callemall/material-ui/search?utf8=%E2%9C%93&q=inputRef&type=
- reactstrap defines `getRef` (will be renamed `innerRef` in the future?), see https://github.com/reactstrap/reactstrap/issues/583
- React-Bootstrap defines `inputRef`, se

[2017-09-27 20:16] LMS007 opened #213 "How does one pull from git rather than npm (for latests code)"
Sorry, dumb question but when using a github URL (rather than direct from npm), the package seems to not install the same, or at least the /lib folder is missing. Is there some build steps that need to be done? I would like to use version 0.7.x off master branch.

[2017-09-28 14:35] clschnei commented on #213
@LMS007 The issue is with the node version, I believe. I ran into the same issue while trying to make a PR a couple weeks ago. Can you remind me what error you're seeing?

[2017-09-28 17:11] LMS007 commented on #213
I'm on
[code]

A little background, I'm using browserify to wrap up my files and it does indeed work with the official npm elemental-ui version but not github.

[code]

This is the line of code that creates the errror

```import { Modal, ModalBody, ModalHeader, ModalFooter } from 'elemental'```

The entire `lib/` is missing from version `0.7.0` off github

[2017-09-28 17:22] clschnei commented on #213
Was there any error during `npm install`?

[2017-09-28 22:09] LMS007 commented on #213
Nope, installed without issue

[2017-10-03 08:27] #94 closed

[2017-10-04 12:53] jduthon commented on #200
Just did a PR here : https://github.com/elementalui/elemental/pull/214

Let me know if you see any changes.

I also notice some broken stuff on a bunch of components, will make another PR for those fixes.

[2017-10-05 03:43] #200 closed

[2017-10-05 08:56] jduthon commented on #213
It is normal as the lib folder, which is the built files, is not updated on github compared to the actual npm package.
We could create a postinstall script which check if we have already the /lib folder, and if it doesn't exist run a build to overcome this problem.
Not sure if there is any reason to go against this?
I can do a PR for this.

[2017-10-05 16:56] LMS007 commented on #213
We would also need to update the lib folder if its old e.g. if you had a lib folder before and then pulled from master again... there could be outdated files

[2017-10-05 17:00] jduthon commented on #213
Well I think I recall npm when used with github repo is anyways by default not updating them except if you force it to do so?
So if you want to update the package you need I think to do a npm install elemental.
In this case the elemental folder will be replaced so the lib folder should be removed.

[2017-10-05 17:08] LMS007 commented on #213
good point

[2017-10-18 16:57] annarichardson opened #216 "Doesn't work with React 16"
When are you updating to be compatible with React 16?

[2017-10-18 16:58] #216 closed

[2017-10-18 17:28] annarichardson commented on #200
When are the new changes to work with React 16 going to be updated to npm?

[2017-10-19 22:10] jossmac commented on #216
Hi @annarichardson,

Does #214 resolve your issue?

[2017-11-01 09:07] illiptic opened #217 "Modal leaves overflow:hidden on body"
If the app re-renders when a modal is open (removing that modal), the style "overflow: hidden" stays on the body tag.

I guess removal of that style should be added to the unmount callback of the component.

[2017-11-01 17:42] annarichardson commented on #216
@jossmac when are these changes being updated to npm?

[2017-11-03 00:12] jossmac commented on #217
@illiptic thanks for the catch!

[2017-11-03 00:12] #217 closed

[2017-11-05 00:33] rafbgarcia opened #218 "Can't find module elemental"
I'm getting this error on my project:

[code]

These are my dependencies

[code]

And I'm trying to import like this:

[code]

Am I missing anything?

[2017-11-05 00:51] rafbgarcia commented on #218
Nevermind, I figured out what the issue is.

[2017-11-05 00:51] #218 closed, assigned to nobody

[2017-11-15 21:21] nevaenuf opened #219 "How do I build the latest version"
I'd like to use the latest version in a project.  Do you all have a build script or distribution somewhere?

[2017-12-28 13:44] acampbellb opened #220 "Runtime errors occur when importing Glyph or FormIconField components"
This issue appears to be due to a change to export within Octicons.js. Previously, the export was as follows..

  module.exports = {
  	list: list,
  	keys: pluck(list, 'value'),
  	map: map
  };

It has since been changed to..

  export const Octicon = {
  	list: list,
  	keys: pluck(list, 'value'),
  	map: map
  };

Therefore, changes are required in the Glyph.js and FormIconField.js source file

[2017-12-30 03:10] acampbellb opened #221 "Runtime error when autoFocus applied to FormInput element"
There is an error in the source code for the FormInput component. The functions 'focus'  and 'select' both reference a member that is 'undefined' (input). The following code changes resolve the issue.

file: components\FormInput.js
function: focus
old:
	focus () {
		this.input.focus();
	},
new:
	focus () {
		this.target.focus();
	},
function: select
old:
    select () {
		this.input.select();

[2018-01-01 20:09] clschnei commented on #221
@acampbellb Do you have a PR with the changes?

[2018-01-24 17:08] midnightcodr commented on #200
npm still has 0.6.1 as the current version, when will the 0.7.0 version be published to npm?

[2018-01-24 19:37] midnightcodr commented on #216
@jossmac 0.6.1 is the version on npm while the master branch is on 0.7.0.

[2018-01-25 22:44] jossmac commented on #216
Sorry folks!

@JedWatson could you please publish a new version to npm?

[2018-05-12 18:57] 87sam12 opened #222 "Normal usage issue"
When I try to use a button after I import it, it shows an issue that the node property on an object is undefined. Can you pls help me with this?
![node_undef](https://user-images.githubusercontent.com/13358855/39960681-6e4fd948-5644-11e8-95f2-81d4383ba194.JPG)

[2018-05-16 16:48] SuperManEver opened #223 "Problem with adding 'elemental-ui' to React app with Webpack 4"
I've encountered difficulties while adding 'elementa-ui' to my React app.

The problem I try to deal with the following:
![image](https://user-images.githubusercontent.com/2178264/40130500-a1861732-5950-11e8-9520-ef818590668e.png)

I try to import elemental component like this:
`import { Form, FormField, FormInput, Checkbox, Button } from 'elemental';`

Here is my webpack config:
[code]

and `.bab

[2018-06-08 16:24] moklick commented on #200
Hey, could you please publish the current version to npm?

[2018-06-10 14:39] leethree commented on #219
Looks like this project is abandoned.

[2018-09-05 08:09] timotew commented on #223
@jossmac , @JedWatson , @nkbt
Please, why is this unattended, I'm having the same issue.

[2018-10-12 16:04] LuckyPigeon opened #224 "Website example show wrong words"
In http://elemental-ui.com/modal
ModalFooter demonstration button print the wrong word on those button, left one should be Modal Footer, and the right one should be Button.

[2018-10-12 16:08] LuckyPigeon opened #225 "Website link jump to wrong site"
In http://elemental-ui.com/misc
The link at "Anchor Tags" should jump to /misc page instead of main page.

[2020-02-29 02:38] dimitropoulos opened #230 "This project has been added to the react-ui-roundup"
Hi!

I am making this issue just to let you know that I've included your amazing project in the [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup).

For more information see https://github.com/dimitropoulos/react-ui-roundup/issues/2.

Please feel free to close this issue at will - I just wanted to let you know :smile:.

Thanks!

[2020-03-11 08:40] fazallm opened #231 "TypeError: Cannot read property 'node' of undefined"
I try to use elemental on my project, but it shows error mentioned-above in Alert.js. Do you know what happened with the component? or is something wrong with my node version?

[2020-04-08 22:48] LucasBadico commented on #231
Same here.

[2021-02-20 20:23] #223 closed, assigned to nobody

[2021-05-03 21:49] soccerKevin commented on #231
I was getting for new versions of react.  upgraded from react 15.2 to 16.8 and started getting this error.  Switching to elemental-react16 fixed most of my issues

[2021-05-07 08:04] EugeneGohh opened #232 "Website not secured."
The website is not secured.

![elementui](https://user-images.githubusercontent.com/64187129/117418374-edafdc00-af4d-11eb-986c-f0baaddbd7aa.png)

[2021-05-16 08:00] #232 closed, assigned to nobody